In [81]:
import pandas as pd 
import sqlite3

In [82]:
data=pd.read_csv('titanic_train.csv')
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [83]:
cnn = sqlite3.connect('jupyter_sql_tutorial.db')

In [9]:
data.to_sql('Titanic',cnn)

In [84]:
%load_ext sql
%sql sqlite:///jupyter_sql_tutorial.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [186]:
%%sql

-- Script permettant de crÃ©er les tables :
    -- premiÃ¨re table
    
-- Creation de la table : 
    Create Table Titanic_Passenger(
    PassengerId int primary key,
    Survived int,
    Name varchar(20),
    Sex varchar(20),
    Age int,
    SibSp int,
    Parch int,
    Embarked varchar(20)
    );
    
-- On insere les valeurs correspondants aux attributs : 
    
    Insert into Titanic_Passenger(PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Embarked) select PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Embarked from Titanic;

-- On affiche la table Titanic_Passenger

    select * from Titanic_Passenger

 * sqlite:///jupyter_sql_tutorial.db
Done.
Done.
Done.

[(1, 0, 'Braund, Mr. Owen Harris', 'male', 22, 1, 0, 'S'),
 (2, 1, 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)', 'female', 38, 1, 0, 'C'),
 (3, 1, 'Heikkinen, Miss. Laina', 'female', 26, 0, 0, 'S'),
 (4, 1, 'Futrelle, Mrs. Jacques Heath (Lily May Peel)', 'female', 35, 1, 0, 'S'),
 (5, 0, 'Allen, Mr. William Henry', 'male', 35, 0, 0, 'S'),
 (6, 0, 'Moran, Mr. James', 'male', None, 0, 0, 'Q'),
 (7, 0, 'McCarthy, Mr. Timothy J', 'male', 54, 0, 0, 'S'),
 (8, 0, 'Palsson, Master. Gosta Leonard', 'male', 2, 3, 1, 'S'),
 (9, 1, 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)', 'female', 27, 0, 2, 'S'),
 (10, 1, 'Nasser, Mrs. Nicholas (Adele Achem)', 'female', 14, 1, 0, 'C'),
 (11, 1, 'Sandstrom, Miss. Marguerite Rut', 'female', 4, 1, 1, 'S'),
 (12, 1, 'Bonnell, Miss. Elizabeth', 'female', 58, 0, 0, 'S'),
 (13, 0, 'Saundercock, Mr. William Henry', 'male', 20, 0, 0, 'S'),
 (14, 0, 'Andersson, Mr. Anders Johan', 'male', 39, 1, 5, 'S'),
 (15, 0, 'Vestrom, Miss. Hulda Amanda Adolfina', 'female', 14, 0, 0, 'S'),
 (16, 1, 'Hewlett, Mrs. (Mary D Kingcome) ', 'female', 55, 0, 0, 'S'),
 (17, 0, 'Rice, Master. Eugene', 'male', 2, 4, 1, 'Q'),
 (18, 1, 'Williams, Mr. Charles Eugene', 'male', None, 0, 0, 'S'),
 (19, 0, 'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)', 'female', 31, 1, 0, 'S'),
 (20, 1, 'Masselmani, Mrs. Fatima', 'female', None, 0, 0, 'C'),
 (21, 0, 'Fynney, Mr. Joseph J', 'male', 35, 0, 0, 'S'),
 (22, 1, 'Beesley, Mr. Lawrence', 'male', 34, 0, 0, 'S'),
 (23, 1, 'McGowan, Miss. Anna "Annie"', 'female', 15, 0, 0, 'Q'),
 (24, 1, 'Sloper, Mr. William Thompson', 'male', 28, 0, 0, 'S'),
 (25, 0, 'Palsson, Miss. Torborg Danira', 'female', 8, 3, 1, 'S'),
 (26, 1, 'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)', 'female', 38, 1, 5, 'S'),
 (27, 0, 'Emir, Mr. Farred Chehab', 'male', None, 0, 0, 'C'),
 (28, 0, 'Fortune, Mr. Charles Alexander', 'male', 19, 3, 2, 'S'),
 (29, 1, 'O\'Dwyer, Miss. Ellen "Nellie"', 'female', None, 0, 0, 'Q'),
 (30, 0, 'Todoroff, Mr. Lalio', 'male', None, 0, 0, 'S'),
 (31, 0, 'Uruchurtu, Don. Manuel E', 'male', 40, 0, 0, 'C'),
 (32, 1, 'Spencer, Mrs. William Augustus (Marie Eugenie)', 'female', None, 1, 0, 'C'),
 (33, 1, 'Glynn, Miss. Mary Agatha', 'female', None, 0, 0, 'Q'),
 (34, 0, 'Wheadon, Mr. Edward H', 'male', 66, 0, 0, 'S'),
 (35, 0, 'Meyer, Mr. Edgar Joseph', 'male', 28, 1, 0, 'C'),
 (36, 0, 'Holverson, Mr. Alexander Oskar', 'male', 42, 1, 0, 'S'),
 (37, 1, 'Mamee, Mr. Hanna', 'male', None, 0, 0, 'C'),
 (38, 0, 'Cann, Mr. Ernest Charles', 'male', 21, 0, 0, 'S'),
 (39, 0, 'Vander Planke, Miss. Augusta Maria', 'female', 18, 2, 0, 'S'),
 (40, 1, 'Nicola-Yarred, Miss. Jamila', 'female', 14, 1, 0, 'C'),
 (41, 0, 'Ahlin, Mrs. Johan (Johanna Persdotter Larsson)', 'female', 40, 1, 0, 'S'),
 (42, 0, 'Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)', 'female', 27, 1, 0, 'S'),
 (43, 0, 'Kraeff, Mr. Theodor', 'male', None, 0, 0, 'C'),
 (44, 1, 'Laroche, Miss. Simonne Marie Anne Andree', 'female', 3, 1, 2, 'C'),
 (45, 1, 'Devaney, Miss. Margaret Delia', 'female', 19, 0, 0, 'Q'),
 (46, 0, 'Rogers, Mr. William John', 'male', None, 0, 0, 'S'),
 (47, 0, 'Lennon, Mr. Denis', 'male', None, 1, 0, 'Q'),
 (48, 1, "O'Driscoll, Miss. Bridget", 'female', None, 0, 0, 'Q'),
 (49, 0, 'Samaan, Mr. Youssef', 'male', None, 2, 0, 'C'),
 (50, 0, 'Arnold-Franchi, Mrs. Josef (Josefine Franchi)', 'female', 18, 1, 0, 'S'),
 (51, 0, 'Panula, Master. Juha Niilo', 'male', 7, 4, 1, 'S'),
 (52, 0, 'Nosworthy, Mr. Richard Cater', 'male', 21, 0, 0, 'S'),
 (53, 1, 'Harper, Mrs. Henry Sleeper (Myna Haxtun)', 'female', 49, 1, 0, 'C'),
 (54, 1, 'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)', 'female', 29, 1, 0, 'S'),
 (55, 0, 'Ostby, Mr. Engelhart Cornelius', 'male', 65, 0, 1, 'C'),
 (56, 1, 'Woolner, Mr. Hugh', 'male', None, 0, 0, 'S'),
 (57, 1, 'Rugg, Miss. Emily', 'female', 21, 0, 0, 'S'),
 (58, 0, 'Novel, Mr. Mansouer', 'male', 28.5, 0, 0, 'C'),
 (59, 1, 'West, Miss. Constance Mirium', 'female', 5, 1, 2, 'S'),
 (60, 0, 'Goodwin, Master. William Frederick', 'male', 11, 5, 2, 'S'),
 (61, 0, 'Sirayanian, Mr. Orsen', 'male', 22, 0, 0, 'C'),
 (62, 1, 'Icard, Miss. Amelie', 'female', 38, 0, 0, None),
 (63, 0, 'Harris, Mr. Henry Birkhardt', 'male', 45, 1, 0, 'S'),
 (64, 0, 'Skoog, Master. Harald', 'male', 4, 3, 2, 'S'),
 (65, 0, 'Stewart, Mr. Albert A', 'male', None, 0, 0, 'C'),
 (66, 1, 'Moubarek, Master. Gerios', 'male', None, 1, 1, 'C'),
 (67, 1, 'Nye, Mrs. (Elizabeth Ramell)', 'female', 29, 0, 0, 'S'),
 (68, 0, 'Crease, Mr. Ernest James', 'male', 19, 0, 0, 'S'),
 (69, 1, 'Andersson, Miss. Erna Alexandra', 'female', 17, 4, 2, 'S'),
 (70, 0, 'Kink, Mr. Vincenz', 'male', 26, 2, 0, 'S'),
 (71, 0, 'Jenkin, Mr. Stephen Curnow', 'male', 32, 0, 0, 'S'),
 (72, 0, 'Goodwin, Miss. Lillian Amy', 'female', 16, 5, 2, 'S'),
 (73, 0, 'Hood, Mr. Ambrose Jr', 'male', 21, 0, 0, 'S'),
 (74, 0, 'Chronopoulos, Mr. Apostolos', 'male', 26, 1, 0, 'C'),
 (75, 1, 'Bing, Mr. Lee', 'male', 32, 0, 0, 'S'),
 (76, 0, 'Moen, Mr. Sigurd Hansen', 'male', 25, 0, 0, 'S'),
 (77, 0, 'Staneff, Mr. Ivan', 'male', None, 0, 0, 'S'),
 (78, 0, 'Moutal, Mr. Rahamin Haim', 'male', None, 0, 0, 'S'),
 (79, 1, 'Caldwell, Master. Alden Gates', 'male', 0.83, 0, 2, 'S'),
 (80, 1, 'Dowdell, Miss. Elizabeth', 'female', 30, 0, 0, 'S'),
 (81, 0, 'Waelens, Mr. Achille', 'male', 22, 0, 0, 'S'),
 (82, 1, 'Sheerlinck, Mr. Jan Baptist', 'male', 29, 0, 0, 'S'),
 (83, 1, 'McDermott, Miss. Brigdet Delia', 'female', None, 0, 0, 'Q'),
 (84, 0, 'Carrau, Mr. Francisco M', 'male', 28, 0, 0, 'S'),
 (85, 1, 'Ilett, Miss. Bertha', 'female', 17, 0, 0, 'S'),
 (86, 1, 'Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)', 'female', 33, 3, 0, 'S'),
 (87, 0, 'Ford, Mr. William Neal', 'male', 16, 1, 3, 'S'),
 (88, 0, 'Slocovski, Mr. Selman Francis', 'male', None, 0, 0, 'S'),
 (89, 1, 'Fortune, Miss. Mabel Helen', 'female', 23, 3, 2, 'S'),
 (90, 0, 'Celotti, Mr. Francesco', 'male', 24, 0, 0, 'S'),
 (91, 0, 'Christmann, Mr. Emil', 'male', 29, 0, 0, 'S'),
 (92, 0, 'Andreasson, Mr. Paul Edvin', 'male', 20, 0, 0, 'S'),
 (93, 0, 'Chaffee, Mr. Herbert Fuller', 'male', 46, 1, 0, 'S'),
 (94, 0, 'Dean, Mr. Bertram Frank', 'male', 26, 1, 2, 'S'),
 (95, 0, 'Coxon, Mr. Daniel', 'male', 59, 0, 0, 'S'),
 (96, 0, 'Shorney, Mr. Charles Joseph', 'male', None, 0, 0, 'S'),
 (97, 0, 'Goldschmidt, Mr. George B', 'male', 71, 0, 0, 'C'),
 (98, 1, 'Greenfield, Mr. William Bertram', 'male', 23, 0, 1, 'C'),
 (99, 1, 'Doling, Mrs. John T (Ada Julia Bone)', 'female', 34, 0, 1, 'S'),
 (100, 0, 'Kantor, Mr. Sinai', 'male', 34, 1, 0, 'S'),
 (101, 0, 'Petranec, Miss. Matilda', 'female', 28, 0, 0, 'S'),
 (102, 0, 'Petroff, Mr. Pastcho ("Pentcho")', 'male', None, 0, 0, 'S'),
 (103, 0, 'White, Mr. Richard Frasar', 'male', 21, 0, 1, 'S'),
 (104, 0, 'Johansson, Mr. Gustaf Joel', 'male', 33, 0, 0, 'S'),
 (105, 0, 'Gustafsson, Mr. Anders Vilhelm', 'male', 37, 2, 0, 'S'),
 (106, 0, 'Mionoff, Mr. Stoytcho', 'male', 28, 0, 0, 'S'),
 (107, 1, 'Salkjelsvik, Miss. Anna Kristine', 'female', 21, 0, 0, 'S'),
 (108, 1, 'Moss, Mr. Albert Johan', 'male', None, 0, 0, 'S'),
 (109, 0, 'Rekic, Mr. Tido', 'male', 38, 0, 0, 'S'),
 (110, 1, 'Moran, Miss. Bertha', 'female', None, 1, 0, 'Q'),
 (111, 0, 'Porter, Mr. Walter Chamberlain', 'male', 47, 0, 0, 'S'),
 (112, 0, 'Zabour, Miss. Hileni', 'female', 14.5, 1, 0, 'C'),
 (113, 0, 'Barton, Mr. David John', 'male', 22, 0, 0, 'S'),
 (114, 0, 'Jussila, Miss. Katriina', 'female', 20, 1, 0, 'S'),
 (115, 0, 'Attalah, Miss. Malake', 'female', 17, 0, 0, 'C'),
 (116, 0, 'Pekoniemi, Mr. Edvard', 'male', 21, 0, 0, 'S'),
 (117, 0, 'Connors, Mr. Patrick', 'male', 70.5, 0, 0, 'Q'),
 (118, 0, 'Turpin, Mr. William John Robert', 'male', 29, 1, 0, 'S'),
 (119, 0, 'Baxter, Mr. Quigg Edmond', 'male', 24, 0, 1, 'C'),
 (120, 0, 'Andersson, Miss. Ellis Anna Maria', 'female', 2, 4, 2, 'S'),
 (121, 0, 'Hickman, Mr. Stanley George', 'male', 21, 2, 0, 'S'),
 (122, 0, 'Moore, Mr. Leonard Charles', 'male', None, 0, 0, 'S'),
 (123, 0, 'Nasser, Mr. Nicholas', 'male', 32.5, 1, 0, 'C'),
 (124, 1, 'Webber, Miss. Susan', 'female', 32.5, 0, 0, 'S'),
 (125, 0, 'White, Mr. Percival Wayland', 'male', 54, 0, 1, 'S'),
 (126, 1, 'Nicola-Yarred, Master. Elias', 'male', 12, 1, 0, 'C'),
 (127, 0, 'McMahon, Mr. Martin', 'male', None, 0, 0, 'Q'),
 (128, 1, 'Madsen, Mr. Fridtjof Arne', 'male', 24, 0, 0, 'S'),
 (129, 1, 'Peter, Miss. Anna', 'female', None, 1, 1, 'C'),
 (130, 0, 'Ekstrom, Mr. Johan', 'male', 45, 0, 0, 'S'),
 (131, 0, 'Drazenoic, Mr. Jozef', 'male', 33, 0, 0, 'C'),
 (132, 0, 'Coelho, Mr. Domingos Fernandeo', 'male', 20, 0, 0, 'S'),
 (133, 0, 'Robins, Mrs. Alexander A (Grace Charity Laury)', 'female', 47, 1, 0, 'S'),
 (134, 1, 'Weisz, Mrs. Leopold (Mathilde Francoise Pede)', 'female', 29, 1, 0, 'S'),
 (135, 0, 'Sobey, Mr. Samuel James Hayden', 'male', 25, 0, 0, 'S'),
 (136, 0, 'Richard, Mr. Emile', 'male', 23, 0, 0, 'C'),
 (137, 1, 'Newsom, Miss. Helen Monypeny', 'female', 19, 0, 2, 'S'),
 (138, 0, 'Futrelle, Mr. Jacques Heath', 'male', 37, 1, 0, 'S'),
 (139, 0, 'Osen, Mr. Olaf Elon', 'male', 16, 0, 0, 'S'),
 (140, 0, 'Giglio, Mr. Victor', 'male', 24, 0, 0, 'C'),
 (141, 0, 'Boulos, Mrs. Joseph (Sultana)', 'female', None, 0, 2, 'C'),
 (142, 1, 'Nysten, Miss. Anna Sofia', 'female', 22, 0, 0, 'S'),
 (143, 1, 'Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)', 'female', 24, 1, 0, 'S'),
 (144, 0, 'Burke, Mr. Jeremiah', 'male', 19, 0, 0, 'Q'),
 (145, 0, 'Andrew, Mr. Edgardo Samuel', 'male', 18, 0, 0, 'S'),
 (146, 0, 'Nicholls, Mr. Joseph Charles', 'male', 19, 1, 1, 'S'),
 (147, 1, 'Andersson, Mr. August Edvard ("Wennerstrom")', 'male', 27, 0, 0, 'S'),
 (148, 0, 'Ford, Miss. Robina Maggie "Ruby"', 'female', 9, 2, 2, 'S'),
 (149, 0, 'Navratil, Mr. Michel ("Louis M Hoffman")', 'male', 36.5, 0, 2, 'S'),
 (150, 0, 'Byles, Rev. Thomas Roussel Davids', 'male', 42, 0, 0, 'S'),
 (151, 0, 'Bateman, Rev. Robert James', 'male', 51, 0, 0, 'S'),
 (152, 1, 'Pears, Mrs. Thomas (Edith Wearne)', 'female', 22, 1, 0, 'S'),
 (153, 0, 'Meo, Mr. Alfonzo', 'male', 55.5, 0, 0, 'S'),
 (154, 0, 'van Billiard, Mr. Austin Blyler', 'male', 40.5, 0, 2, 'S'),
 (155, 0, 'Olsen, Mr. Ole Martin', 'male', None, 0, 0, 'S'),
 (156, 0, 'Williams, Mr. Charles Duane', 'male', 51, 0, 1, 'C'),
 (157, 1, 'Gilnagh, Miss. Katherine "Katie"', 'female', 16, 0, 0, 'Q'),
 (158, 0, 'Corn, Mr. Harry', 'male', 30, 0, 0, 'S'),
 (159, 0, 'Smiljanic, Mr. Mile', 'male', None, 0, 0, 'S'),
 (160, 0, 'Sage, Master. Thomas Henry', 'male', None, 8, 2, 'S'),
 (161, 0, 'Cribb, Mr. John Hatfield', 'male', 44, 0, 1, 'S'),
 (162, 1, 'Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)', 'female', 40, 0, 0, 'S'),
 (163, 0, 'Bengtsson, Mr. John Viktor', 'male', 26, 0, 0, 'S'),
 (164, 0, 'Calic, Mr. Jovo', 'male', 17, 0, 0, 'S'),
 (165, 0, 'Panula, Master. Eino Viljami', 'male', 1, 4, 1, 'S'),
 (166, 1, 'Goldsmith, Master. Frank John William "Frankie"', 'male', 9, 0, 2, 'S'),
 (167, 1, 'Chibnall, Mrs. (Edith Martha Bowerman)', 'female', None, 0, 1, 'S'),
 (168, 0, 'Skoog, Mrs. William (Anna Bernhardina Karlsson)', 'female', 45, 1, 4, 'S'),
 (169, 0, 'Baumann, Mr. John D', 'male', None, 0, 0, 'S'),
 (170, 0, 'Ling, Mr. Lee', 'male', 28, 0, 0, 'S'),
 (171, 0, 'Van der hoef, Mr. Wyckoff', 'male', 61, 0, 0, 'S'),
 (172, 0, 'Rice, Master. Arthur', 'male', 4, 4, 1, 'Q'),
 (173, 1, 'Johnson, Miss. Eleanor Ileen', 'female', 1, 1, 1, 'S'),
 (174, 0, 'Sivola, Mr. Antti Wilhelm', 'male', 21, 0, 0, 'S'),
 (175, 0, 'Smith, Mr. James Clinch', 'male', 56, 0, 0, 'C'),
 (176, 0, 'Klasen, Mr. Klas Albin', 'male', 18, 1, 1, 'S'),
 (177, 0, 'Lefebre, Master. Henry Forbes', 'male', None, 3, 1, 'S'),
 (178, 0, 'Isham, Miss. Ann Elizabeth', 'female', 50, 0, 0, 'C'),
 (179, 0, 'Hale, Mr. Reginald', 'male', 30, 0, 0, 'S'),
 (180, 0, 'Leonard, Mr. Lionel', 'male', 36, 0, 0, 'S'),
 (181, 0, 'Sage, Miss. Constance Gladys', 'female', None, 8, 2, 'S'),
 (182, 0, 'Pernot, Mr. Rene', 'male', None, 0, 0, 'C'),
 (183, 0, 'Asplund, Master. Clarence Gustaf Hugo', 'male', 9, 4, 2, 'S'),
 (184, 1, 'Becker, Master. Richard F', 'male', 1, 2, 1, 'S'),
 (185, 1, 'Kink-Heilmann, Miss. Luise Gretchen', 'female', 4, 0, 2, 'S'),
 (186, 0, 'Rood, Mr. Hugh Roscoe', 'male', None, 0, 0, 'S'),
 (187, 1, 'O\'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)', 'female', None, 1, 0, 'Q'),
 (188, 1, 'Romaine, Mr. Charles Hallace ("Mr C Rolmane")', 'male', 45, 0, 0, 'S'),
 (189, 0, 'Bourke, Mr. John', 'male', 40, 1, 1, 'Q'),
 (190, 0, 'Turcin, Mr. Stjepan', 'male', 36, 0, 0, 'S'),
 (191, 1, 'Pinsky, Mrs. (Rosa)', 'female', 32, 0, 0, 'S'),
 (192, 0, 'Carbines, Mr. William', 'male', 19, 0, 0, 'S'),
 (193, 1, 'Andersen-Jensen, Miss. Carla Christine Nielsine', 'female', 19, 1, 0, 'S'),
 (194, 1, 'Navratil, Master. Michel M', 'male', 3, 1, 1, 'S'),
 (195, 1, 'Brown, Mrs. James Joseph (Margaret Tobin)', 'female', 44, 0, 0, 'C'),
 (196, 1, 'Lurette, Miss. Elise', 'female', 58, 0, 0, 'C'),
 (197, 0, 'Mernagh, Mr. Robert', 'male', None, 0, 0, 'Q'),
 (198, 0, 'Olsen, Mr. Karl Siegwart Andreas', 'male', 42, 0, 1, 'S'),
 (199, 1, 'Madigan, Miss. Margaret "Maggie"', 'female', None, 0, 0, 'Q'),
 (200, 0, 'Yrois, Miss. Henriette ("Mrs Harbeck")', 'female', 24, 0, 0, 'S'),
 (201, 0, 'Vande Walle, Mr. Nestor Cyriel', 'male', 28, 0, 0, 'S'),
 (202, 0, 'Sage, Mr. Frederick', 'male', None, 8, 2, 'S'),
 (203, 0, 'Johanson, Mr. Jakob Alfred', 'male', 34, 0, 0, 'S'),
 (204, 0, 'Youseff, Mr. Gerious', 'male', 45.5, 0, 0, 'C'),
 (205, 1, 'Cohen, Mr. Gurshon "Gus"', 'male', 18, 0, 0, 'S'),
 (206, 0, 'Strom, Miss. Telma Matilda', 'female', 2, 0, 1, 'S'),
 (207, 0, 'Backstrom, Mr. Karl Alfred', 'male', 32, 1, 0, 'S'),
 (208, 1, 'Albimona, Mr. Nassef Cassem', 'male', 26, 0, 0, 'C'),
 (209, 1, 'Carr, Miss. Helen "Ellen"', 'female', 16, 0, 0, 'Q'),
 (210, 1, 'Blank, Mr. Henry', 'male', 40, 0, 0, 'C'),
 (211, 0, 'Ali, Mr. Ahmed', 'male', 24, 0, 0, 'S'),
 (212, 1, 'Cameron, Miss. Clear Annie', 'female', 35, 0, 0, 'S'),
 (213, 0, 'Perkin, Mr. John Henry', 'male', 22, 0, 0, 'S'),
 (214, 0, 'Givard, Mr. Hans Kristensen', 'male', 30, 0, 0, 'S'),
 (215, 0, 'Kiernan, Mr. Philip', 'male', None, 1, 0, 'Q'),
 (216, 1, 'Newell, Miss. Madeleine', 'female', 31, 1, 0, 'C'),
 (217, 1, 'Honkanen, Miss. Eliina', 'female', 27, 0, 0, 'S'),
 (218, 0, 'Jacobsohn, Mr. Sidney Samuel', 'male', 42, 1, 0, 'S'),
 (219, 1, 'Bazzani, Miss. Albina', 'female', 32, 0, 0, 'C'),
 (220, 0, 'Harris, Mr. Walter', 'male', 30, 0, 0, 'S'),
 (221, 1, 'Sunderland, Mr. Victor Francis', 'male', 16, 0, 0, 'S'),
 (222, 0, 'Bracken, Mr. James H', 'male', 27, 0, 0, 'S'),
 (223, 0, 'Green, Mr. George Henry', 'male', 51, 0, 0, 'S'),
 (224, 0, 'Nenkoff, Mr. Christo', 'male', None, 0, 0, 'S'),
 (225, 1, 'Hoyt, Mr. Frederick Maxfield', 'male', 38, 1, 0, 'S'),
 (226, 0, 'Berglund, Mr. Karl Ivar Sven', 'male', 22, 0, 0, 'S'),
 (227, 1, 'Mellors, Mr. William John', 'male', 19, 0, 0, 'S'),
 (228, 0, 'Lovell, Mr. John Hall ("Henry")', 'male', 20.5, 0, 0, 'S'),
 (229, 0, 'Fahlstrom, Mr. Arne Jonas', 'male', 18, 0, 0, 'S'),
 (230, 0, 'Lefebre, Miss. Mathilde', 'female', None, 3, 1, 'S'),
 (231, 1, 'Harris, Mrs. Henry Birkhardt (Irene Wallach)', 'female', 35, 1, 0, 'S'),
 (232, 0, 'Larsson, Mr. Bengt Edvin', 'male', 29, 0, 0, 'S'),
 (233, 0, 'Sjostedt, Mr. Ernst Adolf', 'male', 59, 0, 0, 'S'),
 (234, 1, 'Asplund, Miss. Lillian Gertrud', 'female', 5, 4, 2, 'S'),
 (235, 0, 'Leyson, Mr. Robert William Norman', 'male', 24, 0, 0, 'S'),
 (236, 0, 'Harknett, Miss. Alice Phoebe', 'female', None, 0, 0, 'S'),
 (237, 0, 'Hold, Mr. Stephen', 'male', 44, 1, 0, 'S'),
 (238, 1, 'Collyer, Miss. Marjorie "Lottie"', 'female', 8, 0, 2, 'S'),
 (239, 0, 'Pengelly, Mr. Frederick William', 'male', 19, 0, 0, 'S'),
 (240, 0, 'Hunt, Mr. George Henry', 'male', 33, 0, 0, 'S'),
 (241, 0, 'Zabour, Miss. Thamine', 'female', None, 1, 0, 'C'),
 (242, 1, 'Murphy, Miss. Katherine "Kate"', 'female', None, 1, 0, 'Q'),
 (243, 0, 'Coleridge, Mr. Reginald Charles', 'male', 29, 0, 0, 'S'),
 (244, 0, 'Maenpaa, Mr. Matti Alexanteri', 'male', 22, 0, 0, 'S'),
 (245, 0, 'Attalah, Mr. Sleiman', 'male', 30, 0, 0, 'C'),
 (246, 0, 'Minahan, Dr. William Edward', 'male', 44, 2, 0, 'Q'),
 (247, 0, 'Lindahl, Miss. Agda Thorilda Viktoria', 'female', 25, 0, 0, 'S'),
 (248, 1, 'Hamalainen, Mrs. William (Anna)', 'female', 24, 0, 2, 'S'),
 (249, 1, 'Beckwith, Mr. Richard Leonard', 'male', 37, 1, 1, 'S'),
 (250, 0, 'Carter, Rev. Ernest Courtenay', 'male', 54, 1, 0, 'S'),
 (251, 0, 'Reed, Mr. James George', 'male', None, 0, 0, 'S'),
 (252, 0, 'Strom, Mrs. Wilhelm (Elna Matilda Persson)', 'female', 29, 1, 1, 'S'),
 (253, 0, 'Stead, Mr. William Thomas', 'male', 62, 0, 0, 'S'),
 (254, 0, 'Lobb, Mr. William Arthur', 'male', 30, 1, 0, 'S'),
 (255, 0, 'Rosblom, Mrs. Viktor (Helena Wilhelmina)', 'female', 41, 0, 2, 'S'),
 (256, 1, 'Touma, Mrs. Darwis (Hanne Youssef Razi)', 'female', 29, 0, 2, 'C'),
 (257, 1, 'Thorne, Mrs. Gertrude Maybelle', 'female', None, 0, 0, 'C'),
 (258, 1, 'Cherry, Miss. Gladys', 'female', 30, 0, 0, 'S'),
 (259, 1, 'Ward, Miss. Anna', 'female', 35, 0, 0, 'C'),
 (260, 1, 'Parrish, Mrs. (Lutie Davis)', 'female', 50, 0, 1, 'S'),
 (261, 0, 'Smith, Mr. Thomas', 'male', None, 0, 0, 'Q'),
 (262, 1, 'Asplund, Master. Edvin Rojj Felix', 'male', 3, 4, 2, 'S'),
 (263, 0, 'Taussig, Mr. Emil', 'male', 52, 1, 1, 'S'),
 (264, 0, 'Harrison, Mr. William', 'male', 40, 0, 0, 'S'),
 (265, 0, 'Henry, Miss. Delia', 'female', None, 0, 0, 'Q'),
 (266, 0, 'Reeves, Mr. David', 'male', 36, 0, 0, 'S'),
 (267, 0, 'Panula, Mr. Ernesti Arvid', 'male', 16, 4, 1, 'S'),
 (268, 1, 'Persson, Mr. Ernst Ulrik', 'male', 25, 1, 0, 'S'),
 (269, 1, 'Graham, Mrs. William Thompson (Edith Junkins)', 'female', 58, 0, 1, 'S'),
 (270, 1, 'Bissette, Miss. Amelia', 'female', 35, 0, 0, 'S'),
 (271, 0, 'Cairns, Mr. Alexander', 'male', None, 0, 0, 'S'),
 (272, 1, 'Tornquist, Mr. William Henry', 'male', 25, 0, 0, 'S'),
 (273, 1, 'Mellinger, Mrs. (Elizabeth Anne Maidment)', 'female', 41, 0, 1, 'S'),
 (274, 0, 'Natsch, Mr. Charles H', 'male', 37, 0, 1, 'C'),
 (275, 1, 'Healy, Miss. Hanora "Nora"', 'female', None, 0, 0, 'Q'),
 (276, 1, 'Andrews, Miss. Kornelia Theodosia', 'female', 63, 1, 0, 'S'),
 (277, 0, 'Lindblom, Miss. Augusta Charlotta', 'female', 45, 0, 0, 'S'),
 (278, 0, 'Parkes, Mr. Francis "Frank"', 'male', None, 0, 0, 'S'),
 (279, 0, 'Rice, Master. Eric', 'male', 7, 4, 1, 'Q'),
 (280, 1, 'Abbott, Mrs. Stanton (Rosa Hunt)', 'female', 35, 1, 1, 'S'),
 (281, 0, 'Duane, Mr. Frank', 'male', 65, 0, 0, 'Q'),
 (282, 0, 'Olsson, Mr. Nils Johan Goransson', 'male', 28, 0, 0, 'S'),
 (283, 0, 'de Pelsmaeker, Mr. Alfons', 'male', 16, 0, 0, 'S'),
 (284, 1, 'Dorking, Mr. Edward Arthur', 'male', 19, 0, 0, 'S'),
 (285, 0, 'Smith, Mr. Richard William', 'male', None, 0, 0, 'S'),
 (286, 0, 'Stankovic, Mr. Ivan', 'male', 33, 0, 0, 'C'),
 (287, 1, 'de Mulder, Mr. Theodore', 'male', 30, 0, 0, 'S'),
 (288, 0, 'Naidenoff, Mr. Penko', 'male', 22, 0, 0, 'S'),
 (289, 1, 'Hosono, Mr. Masabumi', 'male', 42, 0, 0, 'S'),
 (290, 1, 'Connolly, Miss. Kate', 'female', 22, 0, 0, 'Q'),
 (291, 1, 'Barber, Miss. Ellen "Nellie"', 'female', 26, 0, 0, 'S'),
 (292, 1, 'Bishop, Mrs. Dickinson H (Helen Walton)', 'female', 19, 1, 0, 'C'),
 (293, 0, 'Levy, Mr. Rene Jacques', 'male', 36, 0, 0, 'C'),
 (294, 0, 'Haas, Miss. Aloisia', 'female', 24, 0, 0, 'S'),
 (295, 0, 'Mineff, Mr. Ivan', 'male', 24, 0, 0, 'S'),
 (296, 0, 'Lewy, Mr. Ervin G', 'male', None, 0, 0, 'C'),
 (297, 0, 'Hanna, Mr. Mansour', 'male', 23.5, 0, 0, 'C'),
 (298, 0, 'Allison, Miss. Helen Loraine', 'female', 2, 1, 2, 'S'),
 (299, 1, 'Saalfeld, Mr. Adolphe', 'male', None, 0, 0, 'S'),
 (300, 1, 'Baxter, Mrs. James (Helene DeLaudeniere Chaput)', 'female', 50, 0, 1, 'C'),
 (301, 1, 'Kelly, Miss. Anna Katherine "Annie Kate"', 'female', None, 0, 0, 'Q'),
 (302, 1, 'McCoy, Mr. Bernard', 'male', None, 2, 0, 'Q'),
 (303, 0, 'Johnson, Mr. William Cahoone Jr', 'male', 19, 0, 0, 'S'),
 (304, 1, 'Keane, Miss. Nora A', 'female', None, 0, 0, 'Q'),
 (305, 0, 'Williams, Mr. Howard Hugh "Harry"', 'male', None, 0, 0, 'S'),

In [187]:
%%sql

Create table Ticket_Passenger(
    PassengerId int,
    Pclass int,
    Ticket varchar(20),
    Fare float,
    Cabin varchar(20),
    Embarked varchar(20),
    primary key (PassengerId),
    foreign key(PassengerId) references Titanic_Passenger(PassengerId),
    foreign key(Embarked) references Titanic_Passenger(Embarked)
    

);

Insert into Ticket_Passenger(PassengerId,Pclass,Ticket,Fare,Cabin,Embarked) select PassengerId,Pclass,Ticket,Fare,Cabin,Embarked from Titanic;
Select * from Ticket_Passenger

 * sqlite:///jupyter_sql_tutorial.db
Done.
891 rows affected.
Done.

[(1, 3, 'A/5 21171', 7.25, None, 'S'),
 (2, 1, 'PC 17599', 71.2833, 'C85', 'C'),
 (3, 3, 'STON/O2. 3101282', 7.925, None, 'S'),
 (4, 1, '113803', 53.1, 'C123', 'S'),
 (5, 3, '373450', 8.05, None, 'S'),
 (6, 3, '330877', 8.4583, None, 'Q'),
 (7, 1, '17463', 51.8625, 'E46', 'S'),
 (8, 3, '349909', 21.075, None, 'S'),
 (9, 3, '347742', 11.1333, None, 'S'),
 (10, 2, '237736', 30.0708, None, 'C'),
 (11, 3, 'PP 9549', 16.7, 'G6', 'S'),
 (12, 1, '113783', 26.55, 'C103', 'S'),
 (13, 3, 'A/5. 2151', 8.05, None, 'S'),
 (14, 3, '347082', 31.275, None, 'S'),
 (15, 3, '350406', 7.8542, None, 'S'),
 (16, 2, '248706', 16.0, None, 'S'),
 (17, 3, '382652', 29.125, None, 'Q'),
 (18, 2, '244373', 13.0, None, 'S'),
 (19, 3, '345763', 18.0, None, 'S'),
 (20, 3, '2649', 7.225, None, 'C'),
 (21, 2, '239865', 26.0, None, 'S'),
 (22, 2, '248698', 13.0, 'D56', 'S'),
 (23, 3, '330923', 8.0292, None, 'Q'),
 (24, 1, '113788', 35.5, 'A6', 'S'),
 (25, 3, '349909', 21.075, None, 'S'),
 (26, 3, '347077', 31.3875, None, 'S'),
 (27, 3, '2631', 7.225, None, 'C'),
 (28, 1, '19950', 263.0, 'C23 C25 C27', 'S'),
 (29, 3, '330959', 7.8792, None, 'Q'),
 (30, 3, '349216', 7.8958, None, 'S'),
 (31, 1, 'PC 17601', 27.7208, None, 'C'),
 (32, 1, 'PC 17569', 146.5208, 'B78', 'C'),
 (33, 3, '335677', 7.75, None, 'Q'),
 (34, 2, 'C.A. 24579', 10.5, None, 'S'),
 (35, 1, 'PC 17604', 82.1708, None, 'C'),
 (36, 1, '113789', 52.0, None, 'S'),
 (37, 3, '2677', 7.2292, None, 'C'),
 (38, 3, 'A./5. 2152', 8.05, None, 'S'),
 (39, 3, '345764', 18.0, None, 'S'),
 (40, 3, '2651', 11.2417, None, 'C'),
 (41, 3, '7546', 9.475, None, 'S'),
 (42, 2, '11668', 21.0, None, 'S'),
 (43, 3, '349253', 7.8958, None, 'C'),
 (44, 2, 'SC/Paris 2123', 41.5792, None, 'C'),
 (45, 3, '330958', 7.8792, None, 'Q'),
 (46, 3, 'S.C./A.4. 23567', 8.05, None, 'S'),
 (47, 3, '370371', 15.5, None, 'Q'),
 (48, 3, '14311', 7.75, None, 'Q'),
 (49, 3, '2662', 21.6792, None, 'C'),
 (50, 3, '349237', 17.8, None, 'S'),
 (51, 3, '3101295', 39.6875, None, 'S'),
 (52, 3, 'A/4. 39886', 7.8, None, 'S'),
 (53, 1, 'PC 17572', 76.7292, 'D33', 'C'),
 (54, 2, '2926', 26.0, None, 'S'),
 (55, 1, '113509', 61.9792, 'B30', 'C'),
 (56, 1, '19947', 35.5, 'C52', 'S'),
 (57, 2, 'C.A. 31026', 10.5, None, 'S'),
 (58, 3, '2697', 7.2292, None, 'C'),
 (59, 2, 'C.A. 34651', 27.75, None, 'S'),
 (60, 3, 'CA 2144', 46.9, None, 'S'),
 (61, 3, '2669', 7.2292, None, 'C'),
 (62, 1, '113572', 80.0, 'B28', None),
 (63, 1, '36973', 83.475, 'C83', 'S'),
 (64, 3, '347088', 27.9, None, 'S'),
 (65, 1, 'PC 17605', 27.7208, None, 'C'),
 (66, 3, '2661', 15.2458, None, 'C'),
 (67, 2, 'C.A. 29395', 10.5, 'F33', 'S'),
 (68, 3, 'S.P. 3464', 8.1583, None, 'S'),
 (69, 3, '3101281', 7.925, None, 'S'),
 (70, 3, '315151', 8.6625, None, 'S'),
 (71, 2, 'C.A. 33111', 10.5, None, 'S'),
 (72, 3, 'CA 2144', 46.9, None, 'S'),
 (73, 2, 'S.O.C. 14879', 73.5, None, 'S'),
 (74, 3, '2680', 14.4542, None, 'C'),
 (75, 3, '1601', 56.4958, None, 'S'),
 (76, 3, '348123', 7.65, 'F G73', 'S'),
 (77, 3, '349208', 7.8958, None, 'S'),
 (78, 3, '374746', 8.05, None, 'S'),
 (79, 2, '248738', 29.0, None, 'S'),
 (80, 3, '364516', 12.475, None, 'S'),
 (81, 3, '345767', 9.0, None, 'S'),
 (82, 3, '345779', 9.5, None, 'S'),
 (83, 3, '330932', 7.7875, None, 'Q'),
 (84, 1, '113059', 47.1, None, 'S'),
 (85, 2, 'SO/C 14885', 10.5, None, 'S'),
 (86, 3, '3101278', 15.85, None, 'S'),
 (87, 3, 'W./C. 6608', 34.375, None, 'S'),
 (88, 3, 'SOTON/OQ 392086', 8.05, None, 'S'),
 (89, 1, '19950', 263.0, 'C23 C25 C27', 'S'),
 (90, 3, '343275', 8.05, None, 'S'),
 (91, 3, '343276', 8.05, None, 'S'),
 (92, 3, '347466', 7.8542, None, 'S'),
 (93, 1, 'W.E.P. 5734', 61.175, 'E31', 'S'),
 (94, 3, 'C.A. 2315', 20.575, None, 'S'),
 (95, 3, '364500', 7.25, None, 'S'),
 (96, 3, '374910', 8.05, None, 'S'),
 (97, 1, 'PC 17754', 34.6542, 'A5', 'C'),
 (98, 1, 'PC 17759', 63.3583, 'D10 D12', 'C'),
 (99, 2, '231919', 23.0, None, 'S'),
 (100, 2, '244367', 26.0, None, 'S'),
 (101, 3, '349245', 7.8958, None, 'S'),
 (102, 3, '349215', 7.8958, None, 'S'),
 (103, 1, '35281', 77.2875, 'D26', 'S'),
 (104, 3, '7540', 8.6542, None, 'S'),
 (105, 3, '3101276', 7.925, None, 'S'),
 (106, 3, '349207', 7.8958, None, 'S'),
 (107, 3, '343120', 7.65, None, 'S'),
 (108, 3, '312991', 7.775, None, 'S'),
 (109, 3, '349249', 7.8958, None, 'S'),
 (110, 3, '371110', 24.15, None, 'Q'),
 (111, 1, '110465', 52.0, 'C110', 'S'),
 (112, 3, '2665', 14.4542, None, 'C'),
 (113, 3, '324669', 8.05, None, 'S'),
 (114, 3, '4136', 9.825, None, 'S'),
 (115, 3, '2627', 14.4583, None, 'C'),
 (116, 3, 'STON/O 2. 3101294', 7.925, None, 'S'),
 (117, 3, '370369', 7.75, None, 'Q'),
 (118, 2, '11668', 21.0, None, 'S'),
 (119, 1, 'PC 17558', 247.5208, 'B58 B60', 'C'),
 (120, 3, '347082', 31.275, None, 'S'),
 (121, 2, 'S.O.C. 14879', 73.5, None, 'S'),
 (122, 3, 'A4. 54510', 8.05, None, 'S'),
 (123, 2, '237736', 30.0708, None, 'C'),
 (124, 2, '27267', 13.0, 'E101', 'S'),
 (125, 1, '35281', 77.2875, 'D26', 'S'),
 (126, 3, '2651', 11.2417, None, 'C'),
 (127, 3, '370372', 7.75, None, 'Q'),
 (128, 3, 'C 17369', 7.1417, None, 'S'),
 (129, 3, '2668', 22.3583, 'F E69', 'C'),
 (130, 3, '347061', 6.975, None, 'S'),
 (131, 3, '349241', 7.8958, None, 'C'),
 (132, 3, 'SOTON/O.Q. 3101307', 7.05, None, 'S'),
 (133, 3, 'A/5. 3337', 14.5, None, 'S'),
 (134, 2, '228414', 26.0, None, 'S'),
 (135, 2, 'C.A. 29178', 13.0, None, 'S'),
 (136, 2, 'SC/PARIS 2133', 15.0458, None, 'C'),
 (137, 1, '11752', 26.2833, 'D47', 'S'),
 (138, 1, '113803', 53.1, 'C123', 'S'),
 (139, 3, '7534', 9.2167, None, 'S'),
 (140, 1, 'PC 17593', 79.2, 'B86', 'C'),
 (141, 3, '2678', 15.2458, None, 'C'),
 (142, 3, '347081', 7.75, None, 'S'),
 (143, 3, 'STON/O2. 3101279', 15.85, None, 'S'),
 (144, 3, '365222', 6.75, None, 'Q'),
 (145, 2, '231945', 11.5, None, 'S'),
 (146, 2, 'C.A. 33112', 36.75, None, 'S'),
 (147, 3, '350043', 7.7958, None, 'S'),
 (148, 3, 'W./C. 6608', 34.375, None, 'S'),
 (149, 2, '230080', 26.0, 'F2', 'S'),
 (150, 2, '244310', 13.0, None, 'S'),
 (151, 2, 'S.O.P. 1166', 12.525, None, 'S'),
 (152, 1, '113776', 66.6, 'C2', 'S'),
 (153, 3, 'A.5. 11206', 8.05, None, 'S'),
 (154, 3, 'A/5. 851', 14.5, None, 'S'),
 (155, 3, 'Fa 265302', 7.3125, None, 'S'),
 (156, 1, 'PC 17597', 61.3792, None, 'C'),
 (157, 3, '35851', 7.7333, None, 'Q'),
 (158, 3, 'SOTON/OQ 392090', 8.05, None, 'S'),
 (159, 3, '315037', 8.6625, None, 'S'),
 (160, 3, 'CA. 2343', 69.55, None, 'S'),
 (161, 3, '371362', 16.1, None, 'S'),
 (162, 2, 'C.A. 33595', 15.75, None, 'S'),
 (163, 3, '347068', 7.775, None, 'S'),
 (164, 3, '315093', 8.6625, None, 'S'),
 (165, 3, '3101295', 39.6875, None, 'S'),
 (166, 3, '363291', 20.525, None, 'S'),
 (167, 1, '113505', 55.0, 'E33', 'S'),
 (168, 3, '347088', 27.9, None, 'S'),
 (169, 1, 'PC 17318', 25.925, None, 'S'),
 (170, 3, '1601', 56.4958, None, 'S'),
 (171, 1, '111240', 33.5, 'B19', 'S'),
 (172, 3, '382652', 29.125, None, 'Q'),
 (173, 3, '347742', 11.1333, None, 'S'),
 (174, 3, 'STON/O 2. 3101280', 7.925, None, 'S'),
 (175, 1, '17764', 30.6958, 'A7', 'C'),
 (176, 3, '350404', 7.8542, None, 'S'),
 (177, 3, '4133', 25.4667, None, 'S'),
 (178, 1, 'PC 17595', 28.7125, 'C49', 'C'),
 (179, 2, '250653', 13.0, None, 'S'),
 (180, 3, 'LINE', 0.0, None, 'S'),
 (181, 3, 'CA. 2343', 69.55, None, 'S'),
 (182, 2, 'SC/PARIS 2131', 15.05, None, 'C'),
 (183, 3, '347077', 31.3875, None, 'S'),
 (184, 2, '230136', 39.0, 'F4', 'S'),
 (185, 3, '315153', 22.025, None, 'S'),
 (186, 1, '113767', 50.0, 'A32', 'S'),
 (187, 3, '370365', 15.5, None, 'Q'),
 (188, 1, '111428', 26.55, None, 'S'),
 (189, 3, '364849', 15.5, None, 'Q'),
 (190, 3, '349247', 7.8958, None, 'S'),
 (191, 2, '234604', 13.0, None, 'S'),
 (192, 2, '28424', 13.0, None, 'S'),
 (193, 3, '350046', 7.8542, None, 'S'),
 (194, 2, '230080', 26.0, 'F2', 'S'),
 (195, 1, 'PC 17610', 27.7208, 'B4', 'C'),
 (196, 1, 'PC 17569', 146.5208, 'B80', 'C'),
 (197, 3, '368703', 7.75, None, 'Q'),
 (198, 3, '4579', 8.4042, None, 'S'),
 (199, 3, '370370', 7.75, None, 'Q'),
 (200, 2, '248747', 13.0, None, 'S'),
 (201, 3, '345770', 9.5, None, 'S'),
 (202, 3, 'CA. 2343', 69.55, None, 'S'),
 (203, 3, '3101264', 6.4958, None, 'S'),
 (204, 3, '2628', 7.225, None, 'C'),
 (205, 3, 'A/5 3540', 8.05, None, 'S'),
 (206, 3, '347054', 10.4625, 'G6', 'S'),
 (207, 3, '3101278', 15.85, None, 'S'),
 (208, 3, '2699', 18.7875, None, 'C'),
 (209, 3, '367231', 7.75, None, 'Q'),
 (210, 1, '112277', 31.0, 'A31', 'C'),
 (211, 3, 'SOTON/O.Q. 3101311', 7.05, None, 'S'),
 (212, 2, 'F.C.C. 13528', 21.0, None, 'S'),
 (213, 3, 'A/5 21174', 7.25, None, 'S'),
 (214, 2, '250646', 13.0, None, 'S'),
 (215, 3, '367229', 7.75, None, 'Q'),
 (216, 1, '35273', 113.275, 'D36', 'C'),
 (217, 3, 'STON/O2. 3101283', 7.925, None, 'S'),
 (218, 2, '243847', 27.0, None, 'S'),
 (219, 1, '11813', 76.2917, 'D15', 'C'),
 (220, 2, 'W/C 14208', 10.5, None, 'S'),
 (221, 3, 'SOTON/OQ 392089', 8.05, None, 'S'),
 (222, 2, '220367', 13.0, None, 'S'),
 (223, 3, '21440', 8.05, None, 'S'),
 (224, 3, '349234', 7.8958, None, 'S'),
 (225, 1, '19943', 90.0, 'C93', 'S'),
 (226, 3, 'PP 4348', 9.35, None, 'S'),
 (227, 2, 'SW/PP 751', 10.5, None, 'S'),
 (228, 3, 'A/5 21173', 7.25, None, 'S'),
 (229, 2, '236171', 13.0, None, 'S'),
 (230, 3, '4133', 25.4667, None, 'S'),
 (231, 1, '36973', 83.475, 'C83', 'S'),
 (232, 3, '347067', 7.775, None, 'S'),
 (233, 2, '237442', 13.5, None, 'S'),
 (234, 3, '347077', 31.3875, None, 'S'),
 (235, 2, 'C.A. 29566', 10.5, None, 'S'),
 (236, 3, 'W./C. 6609', 7.55, None, 'S'),
 (237, 2, '26707', 26.0, None, 'S'),
 (238, 2, 'C.A. 31921', 26.25, None, 'S'),
 (239, 2, '28665', 10.5, None, 'S'),
 (240, 2, 'SCO/W 1585', 12.275, None, 'S'),
 (241, 3, '2665', 14.4542, None, 'C'),
 (242, 3, '367230', 15.5, None, 'Q'),
 (243, 2, 'W./C. 14263', 10.5, None, 'S'),
 (244, 3, 'STON/O 2. 3101275', 7.125, None, 'S'),
 (245, 3, '2694', 7.225, None, 'C'),
 (246, 1, '19928', 90.0, 'C78', 'Q'),
 (247, 3, '347071', 7.775, None, 'S'),
 (248, 2, '250649', 14.5, None, 'S'),
 (249, 1, '11751', 52.5542, 'D35', 'S'),
 (250, 2, '244252', 26.0, None, 'S'),
 (251, 3, '362316', 7.25, None, 'S'),
 (252, 3, '347054', 10.4625, 'G6', 'S'),
 (253, 1, '113514', 26.55, 'C87', 'S'),
 (254, 3, 'A/5. 3336', 16.1, None, 'S'),
 (255, 3, '370129', 20.2125, None, 'S'),
 (256, 3, '2650', 15.2458, None, 'C'),
 (257, 1, 'PC 17585', 79.2, None, 'C'),
 (258, 1, '110152', 86.5, 'B77', 'S'),
 (259, 1, 'PC 17755', 512.3292, None, 'C'),
 (260, 2, '230433', 26.0, None, 'S'),
 (261, 3, '384461', 7.75, None, 'Q'),
 (262, 3, '347077', 31.3875, None, 'S'),
 (263, 1, '110413', 79.65, 'E67', 'S'),
 (264, 1, '112059', 0.0, 'B94', 'S'),
 (265, 3, '382649', 7.75, None, 'Q'),
 (266, 2, 'C.A. 17248', 10.5, None, 'S'),
 (267, 3, '3101295', 39.6875, None, 'S'),
 (268, 3, '347083', 7.775, None, 'S'),
 (269, 1, 'PC 17582', 153.4625, 'C125', 'S'),
 (270, 1, 'PC 17760', 135.6333, 'C99', 'S'),
 (271, 1, '113798', 31.0, None, 'S'),
 (272, 3, 'LINE', 0.0, None, 'S'),
 (273, 2, '250644', 19.5, None, 'S'),
 (274, 1, 'PC 17596', 29.7, 'C118', 'C'),
 (275, 3, '370375', 7.75, None, 'Q'),
 (276, 1, '13502', 77.9583, 'D7', 'S'),
 (277, 3, '347073', 7.75, None, 'S'),
 (278, 2, '239853', 0.0, None, 'S'),
 (279, 3, '382652', 29.125, None, 'Q'),
 (280, 3, 'C.A. 2673', 20.25, None, 'S'),
 (281, 3, '336439', 7.75, None, 'Q'),
 (282, 3, '347464', 7.8542, None, 'S'),
 (283, 3, '345778', 9.5, None, 'S'),
 (284, 3, 'A/5. 10482', 8.05, None, 'S'),
 (285, 1, '113056', 26.0, 'A19', 'S'),
 (286, 3, '349239', 8.6625, None, 'C'),
 (287, 3, '345774', 9.5, None, 'S'),
 (288, 3, '349206', 7.8958, None, 'S'),
 (289, 2, '237798', 13.0, None, 'S'),
 (290, 3, '370373', 7.75, None, 'Q'),
 (291, 1, '19877', 78.85, None, 'S'),
 (292, 1, '11967', 91.0792, 'B49', 'C'),
 (293, 2, 'SC/Paris 2163', 12.875, 'D', 'C'),
 (294, 3, '349236', 8.85, None, 'S'),
 (295, 3, '349233', 7.8958, None, 'S'),
 (296, 1, 'PC 17612', 27.7208, None, 'C'),
 (297, 3, '2693', 7.2292, None, 'C'),
 (298, 1, '113781', 151.55, 'C22 C26', 'S'),
 (299, 1, '19988', 30.5, 'C106', 'S'),
 (300, 1, 'PC 17558', 247.5208, 'B58 B60', 'C'),
 (301, 3, '9234', 7.75, None, 'Q'),
 (302, 3, '367226', 23.25, None, 'Q'),
 (303, 3, 'LINE', 0.0, None, 'S'),
 (304, 2, '226593', 12.35, 'E101', 'Q'),
 (305, 3, 'A/5 2466', 8.05, None, 'S'),
 (306, 1, '113781', 151.55, 'C22 C26', 'S'),
 (307, 1, '17421', 110.8833, None, 'C'),
 (308, 1, 'PC 17758', 108.9, 'C65', 'C'),
 (309, 2, 'P/PP 3381', 24.0, None, 'C'),
 (310, 1, 'PC 17485', 56.9292, 'E36', 'C'),
 (311, 1, '11767', 83.1583, 'C54', 'C'),
 (312, 1, 'PC 17608', 262.375, 'B57 B59 B63 B66', 'C'),
 (313, 2, '250651', 26.0, None, 'S'),
 (314, 3, '349243', 7.8958, None, 'S'),
 (315, 2, 'F.C.C. 13529', 26.25, None, 'S'),
 (316, 3, '347470', 7.8542, None, 'S'),
 (317, 2, '244367', 26.0, None, 'S'),
 (318, 2, '29011', 14.0, None, 'S'),
 (319, 1, '36928', 164.8667, 'C7', 'S'),
 (320, 1, '16966', 134.5, 'E34', 'C'),
 (321, 3, 'A/5 21172', 7.25, None, 'S'),
 (322, 3, '349219', 7.8958, None, 'S'),
 (323, 2, '234818', 12.35, None, 'Q'),
 (324, 2, '248738', 29.0, None, 'S'),
 (325, 3, 'CA. 2343', 69.55, None, 'S'),
 (326, 1, 'PC 17760', 135.6333, 'C32', 'C'),
 (327, 3, '345364', 6.2375, None, 'S'),
 (328, 2, '28551', 13.0, 'D', 'S'),
 (329, 3, '363291', 20.525, None, 'S'),
 (330, 1, '111361', 57.9792, 'B18', 'C'),
 (331, 3, '367226', 23.25, None, 'Q'),
 (332, 1, '113043', 28.5, 'C124', 'S'),
 (333, 1, 'PC 17582', 153.4625, 'C91', 'S'),
 (334, 3, '345764', 18.0, None, 'S'),
 (335, 1, 'PC 17611', 133.65, None, 'S'),
 (336, 3, '349225', 7.8958, None, 'S'),
 (337, 1, '113776', 66.6, 'C2', 'S'),
 (338, 1, '16966', 134.5, 'E40', 'C'),
 (339, 3, '7598', 8.05, None, 'S'),
 (340, 1, '113784', 35.5, 'T', 'S'),
 (341, 2, '230080', 26.0, 'F2', 'S'),
 (342, 1, '19950', 263.0, 'C23 C25 C27', 'S'),
 (343, 2, '248740', 13.0, None, 'S'),
 (344, 2, '244361', 13.0, None, 'S'),
 (345, 2, '229236', 13.0, None, 'S'),
 (346, 2, '248733', 13.0, 'F33', 'S'),
 (347, 2, '31418', 13.0, None, 'S'),
 (348, 3, '386525', 16.1, None, 'S'),
 (349, 3, 'C.A. 37671', 15.9, None, 'S'),
 (350, 3, '315088', 8.6625, None, 'S'),
 (351, 3, '7267', 9.225, None, 'S'),
 (352, 1, '113510', 35.0, 'C128', 'S'),
 (353, 3, '2695', 7.2292, None, 'C'),
 (354, 3, '349237', 17.8, None, 'S'),
 (355, 3, '2647', 7.225, None, 'C'),
 (356, 3, '345783', 9.5, None, 'S'),
 (357, 1, '113505', 55.0, 'E33', 'S'),
 (358, 2, '237671', 13.0, None, 'S'),
 (359, 3, '330931', 7.8792, None, 'Q'),
 (360, 3, '330980', 7.8792, None, 'Q'),
 (361, 3, '347088', 27.9, None, 'S'),
 (362, 2, 'SC/PARIS 2167', 27.7208, None, 'C'),
 (363, 3, '2691', 14.4542, None, 'C'),
 (364, 3, 'SOTON/O.Q. 3101310', 7.05, None, 'S'),
 (365, 3, '370365', 15.5, None, 'Q'),
 (366, 3, 'C 7076', 7.25, None, 'S'),
 (367, 1, '110813', 75.25, 'D37', 'C'),
 (368, 3, '2626', 7.2292, None, 'C'),
 (369, 3, '14313', 7.75, None, 'Q'),
 (370, 1, 'PC 17477', 69.3, 'B35', 'C'),
 (371, 1, '11765', 55.4417, 'E50', 'C'),
 (372, 3, '3101267', 6.4958, None, 'S'),
 (373, 3, '323951', 8.05, None, 'S'),
 (374, 1, 'PC 17760', 135.6333, None, 'C'),
 (375, 3, '349909', 21.075, None, 'S'),
 (376, 1, 'PC 17604', 82.1708, None, 'C'),
 (377, 3, 'C 7077', 7.25, None, 'S'),
 (378, 1, '113503', 211.5, 'C82', 'C'),
 (379, 3, '2648', 4.0125, None, 'C'),
 (380, 3, '347069', 7.775, None, 'S'),
 (381, 1, 'PC 17757', 227.525, None, 'C'),
 (382, 3, '2653', 15.7417, None, 'C'),
 (383, 3, 'STON/O 2. 3101293', 7.925, None, 'S'),
 (384, 1, '113789', 52.0, None, 'S'),
 (385, 3, '349227', 7.8958, None, 'S'),
 (386, 2, 'S.O.C. 14879', 73.5, None, 'S'),
 (387, 3, 'CA 2144', 46.9, None, 'S'),
 (388, 2, '27849', 13.0, None, 'S'),
 (389, 3, '367655', 7.7292, None, 'Q'),
 (390, 2, 'SC 1748', 12.0, None, 'C'),
 (391, 1, '113760', 120.0, 'B96 B98', 'S'),
 (392, 3, '350034', 7.7958, None, 'S'),
 (393, 3, '3101277', 7.925, None, 'S'),
 (394, 1, '35273', 113.275, 'D36', 'C'),
 (395, 3, 'PP 9549', 16.7, 'G6', 'S'),
 (396, 3, '350052', 7.7958, None, 'S'),
 (397, 3, '350407', 7.8542, None, 'S'),
 (398, 2, '28403', 26.0, None, 'S'),
 (399, 2, '244278', 10.5, None, 'S'),
 (400, 2, '240929', 12.65, None, 'S'),
 (401, 3, 'STON/O 2. 3101289', 7.925, None, 'S'),
 (402, 3, '341826', 8.05, None, 'S'),
 (403, 3, '4137', 9.825, None, 'S'),
 (404, 3, 'STON/O2. 3101279', 15.85, None, 'S'),
 (405, 3, '315096', 8.6625, None, 'S'),
 (406, 2, '28664', 21.0, None, 'S'),
 (407, 3, '347064', 7.75, None, 'S'),
 (408, 2, '29106', 18.75, None, 'S'),
 (409, 3, '312992', 7.775, None, 'S'),
 (410, 3, '4133', 25.4667, None, 'S'),
 (411, 3, '349222', 7.8958, None, 'S'),
 (412, 3, '394140', 6.8583, None, 'Q'),
 (413, 1, '19928', 90.0, 'C78', 'Q'),
 (414, 2, '239853', 0.0, None, 'S'),
 (415, 3, 'STON/O 2. 3101269', 7.925, None, 'S'),
 (416, 3, '343095', 8.05, None, 'S'),
 (417, 2, '28220', 32.5, None, 'S'),
 (418, 2, '250652', 13.0, None, 'S'),
 (419, 2, '28228', 13.0, None, 'S'),
 (420, 3, '345773', 24.15, None, 'S'),
 (421, 3, '349254', 7.8958, None, 'C'),
 (422, 3, 'A/5. 13032', 7.7333, None, 'Q'),
 (423, 3, '315082', 7.875, None, 'S'),
 (424, 3, '347080', 14.4, None, 'S'),
 (425, 3, '370129', 20.2125, None, 'S'),
 (426, 3, 'A/4. 34244', 7.25, None, 'S'),
 (427, 2, '2003', 26.0, None, 'S'),
 (428, 2, '250655', 26.0, None, 'S'),
 (429, 3, '364851', 7.75, None, 'Q'),
 (430, 3, 'SOTON/O.Q. 392078', 8.05, 'E10', 'S'),
 (431, 1, '110564', 26.55, 'C52', 'S'),
 (432, 3, '376564', 16.1, None, 'S'),
 (433, 2, 'SC/AH 3085', 26.0, None, 'S'),
 (434, 3, 'STON/O 2. 3101274', 7.125, None, 'S'),
 (435, 1, '13507', 55.9, 'E44', 'S'),
 (436, 1, '113760', 120.0, 'B96 B98', 'S'),
 (437, 3, 'W./C. 6608', 34.375, None, 'S'),
 (438, 2, '29106', 18.75, None, 'S'),
 (439, 1, '19950', 263.0, 'C23 C25 C27', 'S'),
 (440, 2, 'C.A. 18723', 10.5, None, 'S'),
 (441, 2, 'F.C.C. 13529', 26.25, None, 'S'),
 (442, 3, '345769', 9.5, None, 'S'),
 (443, 3, '347076', 7.775, None, 'S'),
 (444, 2, '230434', 13.0, None, 'S'),
 (445, 3, '65306', 8.1125, None, 'S'),
 (446, 1, '33638', 81.8583, 'A34', 'S'),
 (447, 2, '250644', 19.5, None, 'S'),
 (448, 1, '113794', 26.55, None, 'S'),
 (449, 3, '2666', 19.2583, None, 'C'),
 (450, 1, '113786', 30.5, 'C104', 'S'),
 (451, 2, 'C.A. 34651', 27.75, None, 'S'),
 (452, 3, '65303', 19.9667, None, 'S'),
 (453, 1, '113051', 27.75, 'C111', 'C'),
 (454, 1, '17453', 89.1042, 'C92', 'C'),
 (455, 3, 'A/5 2817', 8.05, None, 'S'),
 (456, 3, '349240', 7.8958, None, 'C'),
 (457, 1, '13509', 26.55, 'E38', 'S'),
 (458, 1, '17464', 51.8625, 'D21', 'S'),
 (459, 2, 'F.C.C. 13531', 10.5, None, 'S'),
 (460, 3, '371060', 7.75, None, 'Q'),
 (461, 1, '19952', 26.55, 'E12', 'S'),
 (462, 3, '364506', 8.05, None, 'S'),
 (463, 1, '111320', 38.5, 'E63', 'S'),
 (464, 2, '234360', 13.0, None, 'S'),
 (465, 3, 'A/S 2816', 8.05, None, 'S'),
 (466, 3, 'SOTON/O.Q. 3101306', 7.05, None, 'S'),
 (467, 2, '239853', 0.0, None, 'S'),
 (468, 1, '113792', 26.55, None, 'S'),
 (469, 3, '36209', 7.725, None, 'Q'),
 (470, 3, '2666', 19.2583, None, 'C'),
 (471, 3, '323592', 7.25, None, 'S'),
 (472, 3, '315089', 8.6625, None, 'S'),
 (473, 2, 'C.A. 34651', 27.75, None, 'S'),
 (474, 2, 'SC/AH Basle 541', 13.7917, 'D', 'C'),
 (475, 3, '7553', 9.8375, None, 'S'),
 (476, 1, '110465', 52.0, 'A14', 'S'),
 (477, 2, '31027', 21.0, None, 'S'),
 (478, 3, '3460', 7.0458, None, 'S'),
 (479, 3, '350060', 7.5208, None, 'S'),
 (480, 3, '3101298', 12.2875, None, 'S'),
 (481, 3, 'CA 2144', 46.9, None, 'S'),
 (482, 2, '239854', 0.0, None, 'S'),
 (483, 3, 'A/5 3594', 8.05, None, 'S'),
 (484, 3, '4134', 9.5875, None, 'S'),
 (485, 1, '11967', 91.0792, 'B49', 'C'),
 (486, 3, '4133', 25.4667, None, 'S'),
 (487, 1, '19943', 90.0, 'C93', 'S'),
 (488, 1, '11771', 29.7, 'B37', 'C'),
 (489, 3, 'A.5. 18509', 8.05, None, 'S'),
 (490, 3, 'C.A. 37671', 15.9, None, 'S'),
 (491, 3, '65304', 19.9667, None, 'S'),
 (492, 3, 'SOTON/OQ 3101317', 7.25, None, 'S'),
 (493, 1, '113787', 30.5, 'C30', 'S'),
 (494, 1, 'PC 17609', 49.5042, None, 'C'),
 (495, 3, 'A/4 45380', 8.05, None, 'S'),
 (496, 3, '2627', 14.4583, None, 'C'),
 (497, 1, '36947', 78.2667, 'D20', 'C'),
 (498, 3, 'C.A. 6212', 15.1, None, 'S'),

In [148]:
%%sql

-- Equijointure des deux tables


select * from Titanic_Passenger natural join Ticket_Passenger;

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(1, 0, 'Braund, Mr. Owen Harris', 'male', 22, 1, 0, 'S', 3, 'A/5 21171', 7.25, None),
 (2, 1, 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)', 'female', 38, 1, 0, 'C', 1, 'PC 17599', 71.2833, 'C85'),
 (3, 1, 'Heikkinen, Miss. Laina', 'female', 26, 0, 0, 'S', 3, 'STON/O2. 3101282', 7.925, None),
 (4, 1, 'Futrelle, Mrs. Jacques Heath (Lily May Peel)', 'female', 35, 1, 0, 'S', 1, '113803', 53.1, 'C123'),
 (5, 0, 'Allen, Mr. William Henry', 'male', 35, 0, 0, 'S', 3, '373450', 8.05, None),
 (6, 0, 'Moran, Mr. James', 'male', None, 0, 0, 'Q', 3, '330877', 8.4583, None),
 (7, 0, 'McCarthy, Mr. Timothy J', 'male', 54, 0, 0, 'S', 1, '17463', 51.8625, 'E46'),
 (8, 0, 'Palsson, Master. Gosta Leonard', 'male', 2, 3, 1, 'S', 3, '349909', 21.075, None),
 (9, 1, 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)', 'female', 27, 0, 2, 'S', 3, '347742', 11.1333, None),
 (10, 1, 'Nasser, Mrs. Nicholas (Adele Achem)', 'female', 14, 1, 0, 'C', 2, '237736', 30.0708, None),
 (11, 1, 'Sandstrom, Miss. Marguerite Rut', 'female', 4, 1, 1, 'S', 3, 'PP 9549', 16.7, 'G6'),
 (12, 1, 'Bonnell, Miss. Elizabeth', 'female', 58, 0, 0, 'S', 1, '113783', 26.55, 'C103'),
 (13, 0, 'Saundercock, Mr. William Henry', 'male', 20, 0, 0, 'S', 3, 'A/5. 2151', 8.05, None),
 (14, 0, 'Andersson, Mr. Anders Johan', 'male', 39, 1, 5, 'S', 3, '347082', 31.275, None),
 (15, 0, 'Vestrom, Miss. Hulda Amanda Adolfina', 'female', 14, 0, 0, 'S', 3, '350406', 7.8542, None),
 (16, 1, 'Hewlett, Mrs. (Mary D Kingcome) ', 'female', 55, 0, 0, 'S', 2, '248706', 16.0, None),
 (17, 0, 'Rice, Master. Eugene', 'male', 2, 4, 1, 'Q', 3, '382652', 29.125, None),
 (18, 1, 'Williams, Mr. Charles Eugene', 'male', None, 0, 0, 'S', 2, '244373', 13.0, None),
 (19, 0, 'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)', 'female', 31, 1, 0, 'S', 3, '345763', 18.0, None),
 (20, 1, 'Masselmani, Mrs. Fatima', 'female', None, 0, 0, 'C', 3, '2649', 7.225, None),
 (21, 0, 'Fynney, Mr. Joseph J', 'male', 35, 0, 0, 'S', 2, '239865', 26.0, None),
 (22, 1, 'Beesley, Mr. Lawrence', 'male', 34, 0, 0, 'S', 2, '248698', 13.0, 'D56'),
 (23, 1, 'McGowan, Miss. Anna "Annie"', 'female', 15, 0, 0, 'Q', 3, '330923', 8.0292, None),
 (24, 1, 'Sloper, Mr. William Thompson', 'male', 28, 0, 0, 'S', 1, '113788', 35.5, 'A6'),
 (25, 0, 'Palsson, Miss. Torborg Danira', 'female', 8, 3, 1, 'S', 3, '349909', 21.075, None),
 (26, 1, 'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)', 'female', 38, 1, 5, 'S', 3, '347077', 31.3875, None),
 (27, 0, 'Emir, Mr. Farred Chehab', 'male', None, 0, 0, 'C', 3, '2631', 7.225, None),
 (28, 0, 'Fortune, Mr. Charles Alexander', 'male', 19, 3, 2, 'S', 1, '19950', 263.0, 'C23 C25 C27'),
 (29, 1, 'O\'Dwyer, Miss. Ellen "Nellie"', 'female', None, 0, 0, 'Q', 3, '330959', 7.8792, None),
 (30, 0, 'Todoroff, Mr. Lalio', 'male', None, 0, 0, 'S', 3, '349216', 7.8958, None),
 (31, 0, 'Uruchurtu, Don. Manuel E', 'male', 40, 0, 0, 'C', 1, 'PC 17601', 27.7208, None),
 (32, 1, 'Spencer, Mrs. William Augustus (Marie Eugenie)', 'female', None, 1, 0, 'C', 1, 'PC 17569', 146.5208, 'B78'),
 (33, 1, 'Glynn, Miss. Mary Agatha', 'female', None, 0, 0, 'Q', 3, '335677', 7.75, None),
 (34, 0, 'Wheadon, Mr. Edward H', 'male', 66, 0, 0, 'S', 2, 'C.A. 24579', 10.5, None),
 (35, 0, 'Meyer, Mr. Edgar Joseph', 'male', 28, 1, 0, 'C', 1, 'PC 17604', 82.1708, None),
 (36, 0, 'Holverson, Mr. Alexander Oskar', 'male', 42, 1, 0, 'S', 1, '113789', 52.0, None),
 (37, 1, 'Mamee, Mr. Hanna', 'male', None, 0, 0, 'C', 3, '2677', 7.2292, None),
 (38, 0, 'Cann, Mr. Ernest Charles', 'male', 21, 0, 0, 'S', 3, 'A./5. 2152', 8.05, None),
 (39, 0, 'Vander Planke, Miss. Augusta Maria', 'female', 18, 2, 0, 'S', 3, '345764', 18.0, None),
 (40, 1, 'Nicola-Yarred, Miss. Jamila', 'female', 14, 1, 0, 'C', 3, '2651', 11.2417, None),
 (41, 0, 'Ahlin, Mrs. Johan (Johanna Persdotter Larsson)', 'female', 40, 1, 0, 'S', 3, '7546', 9.475, None),
 (42, 0, 'Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)', 'female', 27, 1, 0, 'S', 2, '11668', 21.0, None),
 (43, 0, 'Kraeff, Mr. Theodor', 'male', None, 0, 0, 'C', 3, '349253', 7.8958, None),
 (44, 1, 'Laroche, Miss. Simonne Marie Anne Andree', 'female', 3, 1, 2, 'C', 2, 'SC/Paris 2123', 41.5792, None),
 (45, 1, 'Devaney, Miss. Margaret Delia', 'female', 19, 0, 0, 'Q', 3, '330958', 7.8792, None),
 (46, 0, 'Rogers, Mr. William John', 'male', None, 0, 0, 'S', 3, 'S.C./A.4. 23567', 8.05, None),
 (47, 0, 'Lennon, Mr. Denis', 'male', None, 1, 0, 'Q', 3, '370371', 15.5, None),
 (48, 1, "O'Driscoll, Miss. Bridget", 'female', None, 0, 0, 'Q', 3, '14311', 7.75, None),
 (49, 0, 'Samaan, Mr. Youssef', 'male', None, 2, 0, 'C', 3, '2662', 21.6792, None),
 (50, 0, 'Arnold-Franchi, Mrs. Josef (Josefine Franchi)', 'female', 18, 1, 0, 'S', 3, '349237', 17.8, None),
 (51, 0, 'Panula, Master. Juha Niilo', 'male', 7, 4, 1, 'S', 3, '3101295', 39.6875, None),
 (52, 0, 'Nosworthy, Mr. Richard Cater', 'male', 21, 0, 0, 'S', 3, 'A/4. 39886', 7.8, None),
 (53, 1, 'Harper, Mrs. Henry Sleeper (Myna Haxtun)', 'female', 49, 1, 0, 'C', 1, 'PC 17572', 76.7292, 'D33'),
 (54, 1, 'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)', 'female', 29, 1, 0, 'S', 2, '2926', 26.0, None),
 (55, 0, 'Ostby, Mr. Engelhart Cornelius', 'male', 65, 0, 1, 'C', 1, '113509', 61.9792, 'B30'),
 (56, 1, 'Woolner, Mr. Hugh', 'male', None, 0, 0, 'S', 1, '19947', 35.5, 'C52'),
 (57, 1, 'Rugg, Miss. Emily', 'female', 21, 0, 0, 'S', 2, 'C.A. 31026', 10.5, None),
 (58, 0, 'Novel, Mr. Mansouer', 'male', 28.5, 0, 0, 'C', 3, '2697', 7.2292, None),
 (59, 1, 'West, Miss. Constance Mirium', 'female', 5, 1, 2, 'S', 2, 'C.A. 34651', 27.75, None),
 (60, 0, 'Goodwin, Master. William Frederick', 'male', 11, 5, 2, 'S', 3, 'CA 2144', 46.9, None),
 (61, 0, 'Sirayanian, Mr. Orsen', 'male', 22, 0, 0, 'C', 3, '2669', 7.2292, None),
 (63, 0, 'Harris, Mr. Henry Birkhardt', 'male', 45, 1, 0, 'S', 1, '36973', 83.475, 'C83'),
 (64, 0, 'Skoog, Master. Harald', 'male', 4, 3, 2, 'S', 3, '347088', 27.9, None),
 (65, 0, 'Stewart, Mr. Albert A', 'male', None, 0, 0, 'C', 1, 'PC 17605', 27.7208, None),
 (66, 1, 'Moubarek, Master. Gerios', 'male', None, 1, 1, 'C', 3, '2661', 15.2458, None),
 (67, 1, 'Nye, Mrs. (Elizabeth Ramell)', 'female', 29, 0, 0, 'S', 2, 'C.A. 29395', 10.5, 'F33'),
 (68, 0, 'Crease, Mr. Ernest James', 'male', 19, 0, 0, 'S', 3, 'S.P. 3464', 8.1583, None),
 (69, 1, 'Andersson, Miss. Erna Alexandra', 'female', 17, 4, 2, 'S', 3, '3101281', 7.925, None),
 (70, 0, 'Kink, Mr. Vincenz', 'male', 26, 2, 0, 'S', 3, '315151', 8.6625, None),
 (71, 0, 'Jenkin, Mr. Stephen Curnow', 'male', 32, 0, 0, 'S', 2, 'C.A. 33111', 10.5, None),
 (72, 0, 'Goodwin, Miss. Lillian Amy', 'female', 16, 5, 2, 'S', 3, 'CA 2144', 46.9, None),
 (73, 0, 'Hood, Mr. Ambrose Jr', 'male', 21, 0, 0, 'S', 2, 'S.O.C. 14879', 73.5, None),
 (74, 0, 'Chronopoulos, Mr. Apostolos', 'male', 26, 1, 0, 'C', 3, '2680', 14.4542, None),
 (75, 1, 'Bing, Mr. Lee', 'male', 32, 0, 0, 'S', 3, '1601', 56.4958, None),
 (76, 0, 'Moen, Mr. Sigurd Hansen', 'male', 25, 0, 0, 'S', 3, '348123', 7.65, 'F G73'),
 (77, 0, 'Staneff, Mr. Ivan', 'male', None, 0, 0, 'S', 3, '349208', 7.8958, None),
 (78, 0, 'Moutal, Mr. Rahamin Haim', 'male', None, 0, 0, 'S', 3, '374746', 8.05, None),
 (79, 1, 'Caldwell, Master. Alden Gates', 'male', 0.83, 0, 2, 'S', 2, '248738', 29.0, None),
 (80, 1, 'Dowdell, Miss. Elizabeth', 'female', 30, 0, 0, 'S', 3, '364516', 12.475, None),
 (81, 0, 'Waelens, Mr. Achille', 'male', 22, 0, 0, 'S', 3, '345767', 9.0, None),
 (82, 1, 'Sheerlinck, Mr. Jan Baptist', 'male', 29, 0, 0, 'S', 3, '345779', 9.5, None),
 (83, 1, 'McDermott, Miss. Brigdet Delia', 'female', None, 0, 0, 'Q', 3, '330932', 7.7875, None),
 (84, 0, 'Carrau, Mr. Francisco M', 'male', 28, 0, 0, 'S', 1, '113059', 47.1, None),
 (85, 1, 'Ilett, Miss. Bertha', 'female', 17, 0, 0, 'S', 2, 'SO/C 14885', 10.5, None),
 (86, 1, 'Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)', 'female', 33, 3, 0, 'S', 3, '3101278', 15.85, None),
 (87, 0, 'Ford, Mr. William Neal', 'male', 16, 1, 3, 'S', 3, 'W./C. 6608', 34.375, None),
 (88, 0, 'Slocovski, Mr. Selman Francis', 'male', None, 0, 0, 'S', 3, 'SOTON/OQ 392086', 8.05, None),
 (89, 1, 'Fortune, Miss. Mabel Helen', 'female', 23, 3, 2, 'S', 1, '19950', 263.0, 'C23 C25 C27'),
 (90, 0, 'Celotti, Mr. Francesco', 'male', 24, 0, 0, 'S', 3, '343275', 8.05, None),
 (91, 0, 'Christmann, Mr. Emil', 'male', 29, 0, 0, 'S', 3, '343276', 8.05, None),
 (92, 0, 'Andreasson, Mr. Paul Edvin', 'male', 20, 0, 0, 'S', 3, '347466', 7.8542, None),
 (93, 0, 'Chaffee, Mr. Herbert Fuller', 'male', 46, 1, 0, 'S', 1, 'W.E.P. 5734', 61.175, 'E31'),
 (94, 0, 'Dean, Mr. Bertram Frank', 'male', 26, 1, 2, 'S', 3, 'C.A. 2315', 20.575, None),
 (95, 0, 'Coxon, Mr. Daniel', 'male', 59, 0, 0, 'S', 3, '364500', 7.25, None),
 (96, 0, 'Shorney, Mr. Charles Joseph', 'male', None, 0, 0, 'S', 3, '374910', 8.05, None),
 (97, 0, 'Goldschmidt, Mr. George B', 'male', 71, 0, 0, 'C', 1, 'PC 17754', 34.6542, 'A5'),
 (98, 1, 'Greenfield, Mr. William Bertram', 'male', 23, 0, 1, 'C', 1, 'PC 17759', 63.3583, 'D10 D12'),
 (99, 1, 'Doling, Mrs. John T (Ada Julia Bone)', 'female', 34, 0, 1, 'S', 2, '231919', 23.0, None),
 (100, 0, 'Kantor, Mr. Sinai', 'male', 34, 1, 0, 'S', 2, '244367', 26.0, None),
 (101, 0, 'Petranec, Miss. Matilda', 'female', 28, 0, 0, 'S', 3, '349245', 7.8958, None),
 (102, 0, 'Petroff, Mr. Pastcho ("Pentcho")', 'male', None, 0, 0, 'S', 3, '349215', 7.8958, None),
 (103, 0, 'White, Mr. Richard Frasar', 'male', 21, 0, 1, 'S', 1, '35281', 77.2875, 'D26'),
 (104, 0, 'Johansson, Mr. Gustaf Joel', 'male', 33, 0, 0, 'S', 3, '7540', 8.6542, None),
 (105, 0, 'Gustafsson, Mr. Anders Vilhelm', 'male', 37, 2, 0, 'S', 3, '3101276', 7.925, None),
 (106, 0, 'Mionoff, Mr. Stoytcho', 'male', 28, 0, 0, 'S', 3, '349207', 7.8958, None),
 (107, 1, 'Salkjelsvik, Miss. Anna Kristine', 'female', 21, 0, 0, 'S', 3, '343120', 7.65, None),
 (108, 1, 'Moss, Mr. Albert Johan', 'male', None, 0, 0, 'S', 3, '312991', 7.775, None),
 (109, 0, 'Rekic, Mr. Tido', 'male', 38, 0, 0, 'S', 3, '349249', 7.8958, None),
 (110, 1, 'Moran, Miss. Bertha', 'female', None, 1, 0, 'Q', 3, '371110', 24.15, None),
 (111, 0, 'Porter, Mr. Walter Chamberlain', 'male', 47, 0, 0, 'S', 1, '110465', 52.0, 'C110'),
 (112, 0, 'Zabour, Miss. Hileni', 'female', 14.5, 1, 0, 'C', 3, '2665', 14.4542, None),
 (113, 0, 'Barton, Mr. David John', 'male', 22, 0, 0, 'S', 3, '324669', 8.05, None),
 (114, 0, 'Jussila, Miss. Katriina', 'female', 20, 1, 0, 'S', 3, '4136', 9.825, None),
 (115, 0, 'Attalah, Miss. Malake', 'female', 17, 0, 0, 'C', 3, '2627', 14.4583, None),
 (116, 0, 'Pekoniemi, Mr. Edvard', 'male', 21, 0, 0, 'S', 3, 'STON/O 2. 3101294', 7.925, None),
 (117, 0, 'Connors, Mr. Patrick', 'male', 70.5, 0, 0, 'Q', 3, '370369', 7.75, None),
 (118, 0, 'Turpin, Mr. William John Robert', 'male', 29, 1, 0, 'S', 2, '11668', 21.0, None),
 (119, 0, 'Baxter, Mr. Quigg Edmond', 'male', 24, 0, 1, 'C', 1, 'PC 17558', 247.5208, 'B58 B60'),
 (120, 0, 'Andersson, Miss. Ellis Anna Maria', 'female', 2, 4, 2, 'S', 3, '347082', 31.275, None),
 (121, 0, 'Hickman, Mr. Stanley George', 'male', 21, 2, 0, 'S', 2, 'S.O.C. 14879', 73.5, None),
 (122, 0, 'Moore, Mr. Leonard Charles', 'male', None, 0, 0, 'S', 3, 'A4. 54510', 8.05, None),
 (123, 0, 'Nasser, Mr. Nicholas', 'male', 32.5, 1, 0, 'C', 2, '237736', 30.0708, None),
 (124, 1, 'Webber, Miss. Susan', 'female', 32.5, 0, 0, 'S', 2, '27267', 13.0, 'E101'),
 (125, 0, 'White, Mr. Percival Wayland', 'male', 54, 0, 1, 'S', 1, '35281', 77.2875, 'D26'),
 (126, 1, 'Nicola-Yarred, Master. Elias', 'male', 12, 1, 0, 'C', 3, '2651', 11.2417, None),
 (127, 0, 'McMahon, Mr. Martin', 'male', None, 0, 0, 'Q', 3, '370372', 7.75, None),
 (128, 1, 'Madsen, Mr. Fridtjof Arne', 'male', 24, 0, 0, 'S', 3, 'C 17369', 7.1417, None),
 (129, 1, 'Peter, Miss. Anna', 'female', None, 1, 1, 'C', 3, '2668', 22.3583, 'F E69'),
 (130, 0, 'Ekstrom, Mr. Johan', 'male', 45, 0, 0, 'S', 3, '347061', 6.975, None),
 (131, 0, 'Drazenoic, Mr. Jozef', 'male', 33, 0, 0, 'C', 3, '349241', 7.8958, None),
 (132, 0, 'Coelho, Mr. Domingos Fernandeo', 'male', 20, 0, 0, 'S', 3, 'SOTON/O.Q. 3101307', 7.05, None),
 (133, 0, 'Robins, Mrs. Alexander A (Grace Charity Laury)', 'female', 47, 1, 0, 'S', 3, 'A/5. 3337', 14.5, None),
 (134, 1, 'Weisz, Mrs. Leopold (Mathilde Francoise Pede)', 'female', 29, 1, 0, 'S', 2, '228414', 26.0, None),
 (135, 0, 'Sobey, Mr. Samuel James Hayden', 'male', 25, 0, 0, 'S', 2, 'C.A. 29178', 13.0, None),
 (136, 0, 'Richard, Mr. Emile', 'male', 23, 0, 0, 'C', 2, 'SC/PARIS 2133', 15.0458, None),
 (137, 1, 'Newsom, Miss. Helen Monypeny', 'female', 19, 0, 2, 'S', 1, '11752', 26.2833, 'D47'),
 (138, 0, 'Futrelle, Mr. Jacques Heath', 'male', 37, 1, 0, 'S', 1, '113803', 53.1, 'C123'),
 (139, 0, 'Osen, Mr. Olaf Elon', 'male', 16, 0, 0, 'S', 3, '7534', 9.2167, None),
 (140, 0, 'Giglio, Mr. Victor', 'male', 24, 0, 0, 'C', 1, 'PC 17593', 79.2, 'B86'),
 (141, 0, 'Boulos, Mrs. Joseph (Sultana)', 'female', None, 0, 2, 'C', 3, '2678', 15.2458, None),
 (142, 1, 'Nysten, Miss. Anna Sofia', 'female', 22, 0, 0, 'S', 3, '347081', 7.75, None),
 (143, 1, 'Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)', 'female', 24, 1, 0, 'S', 3, 'STON/O2. 3101279', 15.85, None),
 (144, 0, 'Burke, Mr. Jeremiah', 'male', 19, 0, 0, 'Q', 3, '365222', 6.75, None),
 (145, 0, 'Andrew, Mr. Edgardo Samuel', 'male', 18, 0, 0, 'S', 2, '231945', 11.5, None),
 (146, 0, 'Nicholls, Mr. Joseph Charles', 'male', 19, 1, 1, 'S', 2, 'C.A. 33112', 36.75, None),
 (147, 1, 'Andersson, Mr. August Edvard ("Wennerstrom")', 'male', 27, 0, 0, 'S', 3, '350043', 7.7958, None),
 (148, 0, 'Ford, Miss. Robina Maggie "Ruby"', 'female', 9, 2, 2, 'S', 3, 'W./C. 6608', 34.375, None),
 (149, 0, 'Navratil, Mr. Michel ("Louis M Hoffman")', 'male', 36.5, 0, 2, 'S', 2, '230080', 26.0, 'F2'),
 (150, 0, 'Byles, Rev. Thomas Roussel Davids', 'male', 42, 0, 0, 'S', 2, '244310', 13.0, None),
 (151, 0, 'Bateman, Rev. Robert James', 'male', 51, 0, 0, 'S', 2, 'S.O.P. 1166', 12.525, None),
 (152, 1, 'Pears, Mrs. Thomas (Edith Wearne)', 'female', 22, 1, 0, 'S', 1, '113776', 66.6, 'C2'),
 (153, 0, 'Meo, Mr. Alfonzo', 'male', 55.5, 0, 0, 'S', 3, 'A.5. 11206', 8.05, None),
 (154, 0, 'van Billiard, Mr. Austin Blyler', 'male', 40.5, 0, 2, 'S', 3, 'A/5. 851', 14.5, None),
 (155, 0, 'Olsen, Mr. Ole Martin', 'male', None, 0, 0, 'S', 3, 'Fa 265302', 7.3125, None),
 (156, 0, 'Williams, Mr. Charles Duane', 'male', 51, 0, 1, 'C', 1, 'PC 17597', 61.3792, None),
 (157, 1, 'Gilnagh, Miss. Katherine "Katie"', 'female', 16, 0, 0, 'Q', 3, '35851', 7.7333, None),
 (158, 0, 'Corn, Mr. Harry', 'male', 30, 0, 0, 'S', 3, 'SOTON/OQ 392090', 8.05, None),
 (159, 0, 'Smiljanic, Mr. Mile', 'male', None, 0, 0, 'S', 3, '315037', 8.6625, None),
 (160, 0, 'Sage, Master. Thomas Henry', 'male', None, 8, 2, 'S', 3, 'CA. 2343', 69.55, None),
 (161, 0, 'Cribb, Mr. John Hatfield', 'male', 44, 0, 1, 'S', 3, '371362', 16.1, None),
 (162, 1, 'Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)', 'female', 40, 0, 0, 'S', 2, 'C.A. 33595', 15.75, None),
 (163, 0, 'Bengtsson, Mr. John Viktor', 'male', 26, 0, 0, 'S', 3, '347068', 7.775, None),
 (164, 0, 'Calic, Mr. Jovo', 'male', 17, 0, 0, 'S', 3, '315093', 8.6625, None),
 (165, 0, 'Panula, Master. Eino Viljami', 'male', 1, 4, 1, 'S', 3, '3101295', 39.6875, None),
 (166, 1, 'Goldsmith, Master. Frank John William "Frankie"', 'male', 9, 0, 2, 'S', 3, '363291', 20.525, None),
 (167, 1, 'Chibnall, Mrs. (Edith Martha Bowerman)', 'female', None, 0, 1, 'S', 1, '113505', 55.0, 'E33'),
 (168, 0, 'Skoog, Mrs. William (Anna Bernhardina Karlsson)', 'female', 45, 1, 4, 'S', 3, '347088', 27.9, None),
 (169, 0, 'Baumann, Mr. John D', 'male', None, 0, 0, 'S', 1, 'PC 17318', 25.925, None),
 (170, 0, 'Ling, Mr. Lee', 'male', 28, 0, 0, 'S', 3, '1601', 56.4958, None),
 (171, 0, 'Van der hoef, Mr. Wyckoff', 'male', 61, 0, 0, 'S', 1, '111240', 33.5, 'B19'),
 (172, 0, 'Rice, Master. Arthur', 'male', 4, 4, 1, 'Q', 3, '382652', 29.125, None),
 (173, 1, 'Johnson, Miss. Eleanor Ileen', 'female', 1, 1, 1, 'S', 3, '347742', 11.1333, None),
 (174, 0, 'Sivola, Mr. Antti Wilhelm', 'male', 21, 0, 0, 'S', 3, 'STON/O 2. 3101280', 7.925, None),
 (175, 0, 'Smith, Mr. James Clinch', 'male', 56, 0, 0, 'C', 1, '17764', 30.6958, 'A7'),
 (176, 0, 'Klasen, Mr. Klas Albin', 'male', 18, 1, 1, 'S', 3, '350404', 7.8542, None),
 (177, 0, 'Lefebre, Master. Henry Forbes', 'male', None, 3, 1, 'S', 3, '4133', 25.4667, None),
 (178, 0, 'Isham, Miss. Ann Elizabeth', 'female', 50, 0, 0, 'C', 1, 'PC 17595', 28.7125, 'C49'),
 (179, 0, 'Hale, Mr. Reginald', 'male', 30, 0, 0, 'S', 2, '250653', 13.0, None),
 (180, 0, 'Leonard, Mr. Lionel', 'male', 36, 0, 0, 'S', 3, 'LINE', 0.0, None),
 (181, 0, 'Sage, Miss. Constance Gladys', 'female', None, 8, 2, 'S', 3, 'CA. 2343', 69.55, None),
 (182, 0, 'Pernot, Mr. Rene', 'male', None, 0, 0, 'C', 2, 'SC/PARIS 2131', 15.05, None),
 (183, 0, 'Asplund, Master. Clarence Gustaf Hugo', 'male', 9, 4, 2, 'S', 3, '347077', 31.3875, None),
 (184, 1, 'Becker, Master. Richard F', 'male', 1, 2, 1, 'S', 2, '230136', 39.0, 'F4'),
 (185, 1, 'Kink-Heilmann, Miss. Luise Gretchen', 'female', 4, 0, 2, 'S', 3, '315153', 22.025, None),
 (186, 0, 'Rood, Mr. Hugh Roscoe', 'male', None, 0, 0, 'S', 1, '113767', 50.0, 'A32'),
 (187, 1, 'O\'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)', 'female', None, 1, 0, 'Q', 3, '370365', 15.5, None),
 (188, 1, 'Romaine, Mr. Charles Hallace ("Mr C Rolmane")', 'male', 45, 0, 0, 'S', 1, '111428', 26.55, None),
 (189, 0, 'Bourke, Mr. John', 'male', 40, 1, 1, 'Q', 3, '364849', 15.5, None),
 (190, 0, 'Turcin, Mr. Stjepan', 'male', 36, 0, 0, 'S', 3, '349247', 7.8958, None),
 (191, 1, 'Pinsky, Mrs. (Rosa)', 'female', 32, 0, 0, 'S', 2, '234604', 13.0, None),
 (192, 0, 'Carbines, Mr. William', 'male', 19, 0, 0, 'S', 2, '28424', 13.0, None),
 (193, 1, 'Andersen-Jensen, Miss. Carla Christine Nielsine', 'female', 19, 1, 0, 'S', 3, '350046', 7.8542, None),
 (194, 1, 'Navratil, Master. Michel M', 'male', 3, 1, 1, 'S', 2, '230080', 26.0, 'F2'),
 (195, 1, 'Brown, Mrs. James Joseph (Margaret Tobin)', 'female', 44, 0, 0, 'C', 1, 'PC 17610', 27.7208, 'B4'),
 (196, 1, 'Lurette, Miss. Elise', 'female', 58, 0, 0, 'C', 1, 'PC 17569', 146.5208, 'B80'),
 (197, 0, 'Mernagh, Mr. Robert', 'male', None, 0, 0, 'Q', 3, '368703', 7.75, None),
 (198, 0, 'Olsen, Mr. Karl Siegwart Andreas', 'male', 42, 0, 1, 'S', 3, '4579', 8.4042, None),
 (199, 1, 'Madigan, Miss. Margaret "Maggie"', 'female', None, 0, 0, 'Q', 3, '370370', 7.75, None),
 (200, 0, 'Yrois, Miss. Henriette ("Mrs Harbeck")', 'female', 24, 0, 0, 'S', 2, '248747', 13.0, None),
 (201, 0, 'Vande Walle, Mr. Nestor Cyriel', 'male', 28, 0, 0, 'S', 3, '345770', 9.5, None),
 (202, 0, 'Sage, Mr. Frederick', 'male', None, 8, 2, 'S', 3, 'CA. 2343', 69.55, None),
 (203, 0, 'Johanson, Mr. Jakob Alfred', 'male', 34, 0, 0, 'S', 3, '3101264', 6.4958, None),
 (204, 0, 'Youseff, Mr. Gerious', 'male', 45.5, 0, 0, 'C', 3, '2628', 7.225, None),
 (205, 1, 'Cohen, Mr. Gurshon "Gus"', 'male', 18, 0, 0, 'S', 3, 'A/5 3540', 8.05, None),
 (206, 0, 'Strom, Miss. Telma Matilda', 'female', 2, 0, 1, 'S', 3, '347054', 10.4625, 'G6'),
 (207, 0, 'Backstrom, Mr. Karl Alfred', 'male', 32, 1, 0, 'S', 3, '3101278', 15.85, None),
 (208, 1, 'Albimona, Mr. Nassef Cassem', 'male', 26, 0, 0, 'C', 3, '2699', 18.7875, None),
 (209, 1, 'Carr, Miss. Helen "Ellen"', 'female', 16, 0, 0, 'Q', 3, '367231', 7.75, None),
 (210, 1, 'Blank, Mr. Henry', 'male', 40, 0, 0, 'C', 1, '112277', 31.0, 'A31'),
 (211, 0, 'Ali, Mr. Ahmed', 'male', 24, 0, 0, 'S', 3, 'SOTON/O.Q. 3101311', 7.05, None),
 (212, 1, 'Cameron, Miss. Clear Annie', 'female', 35, 0, 0, 'S', 2, 'F.C.C. 13528', 21.0, None),
 (213, 0, 'Perkin, Mr. John Henry', 'male', 22, 0, 0, 'S', 3, 'A/5 21174', 7.25, None),
 (214, 0, 'Givard, Mr. Hans Kristensen', 'male', 30, 0, 0, 'S', 2, '250646', 13.0, None),
 (215, 0, 'Kiernan, Mr. Philip', 'male', None, 1, 0, 'Q', 3, '367229', 7.75, None),

In [198]:
# Rapport et script sur la description des tables avec excel

alpha=pd.read_csv('rapport Ph2 Titanic.csv')
alpha

,NomDa,Cle,Def,DomA
0,PassengerId,Primaire/Etrangere,Correspond a l'identifiant des passagers,Valeur de type Int(1 a 891).
1,Survived,NaN,Correspond a l'etat du passager,Valeur type Bool (0 ou 1).
2,Pclass,NaN,Correspond aux classes des passagers,Valeur de type Int(1 a 3).
3,Name,NaN,Correspond aux noms des passagers,Valeur de type Str .
4,Sex,NaN,Correspond a un type de genre (Homme ou Femme),Valeur de type Str(Homme ou Femme).
5,Age,NaN,Correspond a l'age respectif des passagers,Valeur de type Int(0 a 80).
6,.SibSp,NaN,Nbrs de frere et soeur et epouse des passagers,Valeur de type Int(0 a 8).
7,Parch,NaN,Nbrs de parents et enfants des Passagers,Valeur de type Int(0 a 9).
8,Ticket,NaN,Ticket correspond aux tickets des passagers,Valeur de type Str.
9,Fare,NaN,Correspond aux prix de l'embarquation,Valeur de type float(0 a 512).
10,Cabin,NaN,Correspond aux cabines des passagers,Valeur de type Str.
11,Embarked,Etrangere,Correspond a l'embarquation du passager,Valeur de type Str.

In [57]:
# Dans la table Titanic_Passenger, nous avons 8 attributs :
#1
La premiÃ¨re correspond Ã  la clÃ© primaire et Ã©galement Ã  la clÃ© Ã©trangÃ¨re et a pour nom dâ€™attribut Â« PassengerId Â». 
Cet attribut correspond Ã  lâ€™identifiant qui a Ã©tÃ© affectÃ© aux passagers.
#2
La seconde se nomme Â« Survived Â» et correspond aux deux choix possible 0 ou 1 affectÃ© aux passagers qui sont 
respectivement 0 pour nâ€™avoir pas survÃ©cu et 1 pour avoir survÃ©cu.
#3
Le troisiÃ¨me attribut correspond aux noms des passagers et a pour nom dâ€™attribut Â« Name Â».
#4
Le quatriÃ¨me attribut se dÃ©fini par Â« Sex Â» et correspond Ã  un genre (Homme ou Femme).
#5
Le cinquiÃ¨me attribut est lâ€™Ã¢ge correspondant aux passagers et a donc pour nom dâ€™attribut Â« Age Â».
#6
Le sixiÃ¨me correspond aux nombres de frÃ¨re et sÅ“ur et Ã©pouse Ã  bord du Titanic des passagers et a pour nom dâ€™attribut Â« SibSp Â».
#7
Le septiÃ¨me correspond aux nombres de de parent et enfant Ã  bord du Titanic des passagers et a pour nom dâ€™attribut Â« Parch Â»
#8
Et enfin le dernier correspond aux 3 possibilitÃ©s dâ€™embarquement choisi par les passagers et a pour nom dâ€™attribut Â« Embarked Â»

# Dans la table Ticket_Passenger nous avons 6 attributs :

#1
La premiÃ¨re attribut est la mÃªme que dans la premiÃ¨re table mais cette attribut est Ã©galement une clÃ© Ã©trangÃ¨re
#2
Le second attribut correspond aux classes choisies par les passagers durant leur escale et a pour nom dâ€™attribut Â« Pclass Â».
#3
Le troisiÃ¨me attribut se nomme Â« Ticket Â» et correspond aux tickets des passagers.
#4
Le quatriÃ¨me attribut se dÃ©finit par Â« Fare Â» et correspond aux tarifs des passagers.
#5
Le cinquiÃ¨me attribut a pour nom Â« Cabin Â» et correspond Ã  la cabine affectÃ©e aux passagers.
#6
Et enfin le dernier correspond aux 3 possibilitÃ©s dâ€™embarquement choisi par les passagers et a pour nom dâ€™attribut Â« Embarked Â».
Cet attribut est une clÃ© Ã©trangÃ¨re.

 * sqlite:///jupyter_sql_tutorial.db
(sqlite3.OperationalError) no such table: Ticket_Passenger
[SQL: drop table Ticket_Passenger]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [189]:
%%sql

-- Phase 3
-- RequÃªte numÃ©ro 1 
-- Combien de classes de passagers diffÃ©rentes y'avait-il Ã  bord du Titanic ?

-- RÃ©ponse : 3
select distinct Pclass from Ticket_Passenger;

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(3,), (1,), (2,)]

In [150]:
%%sql

-- RequÃªte numÃ©ro 2
-- Combien de passagers y'avait-il dans chaque classe?
-- Nombre de passagers en premiÃ¨re classe


select count(Pclass) as 'number_in_first_class'
from Ticket_Passenger
where Pclass=1;

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(216,)]

In [151]:
%%sql

-- RequÃªte numÃ©ro 2
-- Combien de passagers y'avait-il dans chaque classe?
-- Nombre de passagers en seconde classe 

select count(Pclass) as 'number_in_second_class'
from Ticket_Passenger
where Pclass=2;

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(184,)]

In [152]:
%%sql

-- RequÃªte numÃ©ro 2
-- Combien de passagers y'avait-il dans chaque classe?
-- Nombre de passagers en troisiÃ¨me classe 

select count(Pclass) as 'number_in_third_class'
from Ticket_Passenger
where Pclass=3;

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(491,)]

In [194]:
%%sql

-- Resultat final de la requÃªte 2
-- Combien de passagers y'avait-il dans chaque classe?

-- RÃ©ponse : 216 passagers dans la premiÃ¨re classe 
--         : 184 passagers dans la seconde classe
--         : 491 passagers dans la troisiÃ¨me classe
    
Create table Passenger_each_class(
number_in_first_class int,
number_in_second_class int,
number_in_third_class int );

Insert into Passenger_each_class values(216,184,491);
select distinct * from Passenger_each_class;

 * sqlite:///jupyter_sql_tutorial.db
Done.
1 rows affected.
Done.

[(216, 184, 491)]

In [156]:
%%sql 

-- RequÃªte numÃ©ro 3
-- Combien de femme et d'hommes y avait-il dans chaque classe ?
-- Nombre de passagers en premiÃ¨re classe comportant que des hommes

select count(Sex) as 'number_of_man_in_class1'
from Ticket_Passenger natural join Titanic_passenger
where Pclass =1 and Sex ='male';

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(122,)]

In [157]:
%%sql 

-- RequÃªte numÃ©ro 3
-- Combien de femme et d'hommes y avait-il dans chaque classe ?
-- Nombre de passagers en seconde classe comportant que des hommes

select count(Sex) as 'number_of_man_in_class2'
from Ticket_Passenger natural join Titanic_passenger
where Pclass =2 and Sex ='male';

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(108,)]

In [158]:
%%sql 

-- RequÃªte numÃ©ro 3
-- Combien de femme et d'hommes y avait-il dans chaque classe ?
-- Nombre de passagers en troisiÃ¨me classe comportant que des hommes

select count(Sex) as 'number_of_man_in_class3'
from Ticket_Passenger natural join Titanic_passenger
where Pclass =3 and Sex ='male';

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(347,)]

In [162]:
%%sql 

-- RequÃªte numÃ©ro 3
-- Combien de femme et d'hommes y avait-il dans chaque classe ?
-- Nombre de passagers en premiÃ¨re classe comportant que des femmes

select count(Sex) as 'number_of_women_in_class1'
from Titanic
where Pclass =1 and Sex ='female';

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(94,)]

In [163]:
%%sql 

-- RequÃªte numÃ©ro 3
-- Combien de femme et d'hommes y avait-il dans chaque classe ?
-- Nombre de passagers en seconde classe comportant que des femmes

select count(Sex) as 'number_of_women_in_class2'
from Ticket_Passenger natural join Titanic_passenger
where Pclass =2 and Sex ='female';

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(76,)]

In [164]:
%%sql 

-- RequÃªte numÃ©ro 3
-- Combien de femme et d'hommes y avait-il dans chaque classe ?
-- Nombre de passagers en troisiÃ¨me classe comportant que des femmes

select count(Sex) as 'number_of_women_in_class3'
from Ticket_Passenger natural join Titanic_passenger
where Pclass =3 and Sex ='female';

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(144,)]

In [31]:
%%sql

-- Visuel final de la requÃªte numÃ©ro 3
-- Combien de femme et d'hommes y avait-il dans chaque classe ?

-- RÃ©ponse Ã  la question 3 : 122 hommes dans la premiÃ¨re classe
--                         : 108 hommes dans la seconde classe
--                         : 347 hommes dans la troisiÃ¨me classe
--                         : 94  femmes dans la premiÃ¨re classe
--                         : 76  femmes dans la seconde classe
--                         : 144 femmes dans la seconde classe
    
Create table Women_and_man_each_class(
number_of_man_in_class1 int,
number_of_man_in_class2 int,
number_of_man_in_class3 int,
number_of_women_in_class1 int,
number_of_women_in_class2 int,
number_of_women_in_class3 int);

Insert into Women_and_man_each_class values(122,108,347,94,76,144);
select distinct * from Women_and_man_each_class;

 * sqlite:///jupyter_sql_tutorial.db
Done.
1 rows affected.
Done.

[(122, 108, 347, 94, 76, 144)]

In [165]:
%%sql

-- requÃªte 4 
-- Comptez le nombre et le pourcentage de survivants et de passagers morts

select count(Survived) as 'death'
from Titanic_Passenger
where Survived =0;

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(549,)]

In [166]:
%%sql

-- requÃªte 4 
-- Comptez le nombre et le pourcentage de survivants et de passagers morts

select count(Survived) as 'alive'
from Titanic_Passenger
where Survived =1;

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(342,)]

In [47]:
%%sql

-- Visuel final requÃªte 4
-- Comptez le nombre et le pourcentage de survivants et de passagers morts
-- RÃ©ponse Ã  la question 4 : il y'a 342 survivants et 549 morts.
--    Le pourcentage de survivants est de 38%
--    Le pourcentage de mort quant Ã  lui est de 61%

Create table Per_cent_alive_death(
death int, 
alive int,
per_cent_death int, 
per_cent_alive int 
);

Insert into Per_cent_alive_death values(549,342,((549*100)/891),((342*100)/891));
select distinct * from per_cent_alive_death;

 * sqlite:///jupyter_sql_tutorial.db
Done.
1 rows affected.
Done.

[(549, 342, 61, 38)]

In [137]:
%%sql

-- RequÃªte 5
-- Visualiser la rÃ©partition des passagers survivants et morts par classe
-- Survivants Pclass 1

create view  alive_1 as select count(Survived) 
from Titanic_Passenger natural join Ticket_Passenger
where Survived =1 and Pclass=1;

select * from alive_1;

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(136,)]

In [138]:
%%sql

-- Survivants Pclass 2

create view alive_2 as select count(Survived) 
from Titanic_Passenger natural join Ticket_Passenger
where Survived =1 and Pclass=2;

select * from alive_2;

 * sqlite:///jupyter_sql_tutorial.db
Done.
Done.

[(87,)]

In [144]:
%%sql

-- Survivants Pclass 3

create view alive_3 as select count(Survived) 
from Titanic_Passenger natural join Ticket_Passenger
where Survived =1 and Pclass=3;
select * from alive_3;

 * sqlite:///jupyter_sql_tutorial.db
Done.
Done.

[(119,)]

In [167]:
%%sql

-- DÃ©cÃ©dÃ© Pclass 1 

create view death_1 as select count(Survived) 
from Titanic_Passenger natural join Ticket_Passenger
where Survived =0 and Pclass=1;
select * from death_1;

 * sqlite:///jupyter_sql_tutorial.db
Done.
Done.

[(80,)]

In [168]:
%%sql

-- DÃ©cÃ©dÃ© Pclass 2

create view death_2 as select count(Survived) 
from Titanic_Passenger natural join Ticket_Passenger
where Survived =0 and Pclass=2;
select * from death_2;

 * sqlite:///jupyter_sql_tutorial.db
Done.
Done.

[(97,)]

In [173]:
%%sql

-- DÃ©cÃ©dÃ© Pclass 3
-- Ps la troisiÃ¨me classe rencontre un nombre significatif de dÃ©cÃ¨s 

create view death_3 as select count(Survived) 
from Titanic_Passenger natural join Ticket_Passenger
where Survived =0 and Pclass=3;
select * from death_3;

 * sqlite:///jupyter_sql_tutorial.db
Done.
Done.

[(372,)]

In [197]:
%%sql

-- Visuel final requÃªte 5
-- Visualiser la rÃ©partition des passagers survivants et morts par classe

-- RÃ©ponse Ã  la question 5 : 136 passagers vivants dans la premiÃ¨re classe
--                         : 87 passagers vivants dans la seconde classe
--                         : 119 passagers vivants dans la troisiÃ¨me classe
--                         : 80 passagers morts dans la premiÃ¨re classe
--                         : 97 passagers morts dans la seconde classe
--                         : 372 passagers morts dans la troisiÃ¨me classe
    
-- Chaque classe a un nombre de survivants plus ou moins Ã©quivalents 
-- La troisiÃ¨me classe reprÃ©sente quant Ã  lui un nombre de dÃ©cÃ¨s significatif Ã©quivalents Ã  68% du nombre de dÃ©cÃ¨s total

Create table Alive_Death_each_class(
alive_1 int,
alive_2 int,
alive_3 int,
death_1 int,
death_2 int,
death_3 int
);

Insert into Alive_Death_each_class values(136,87,119,80,97,372);
Select * from Alive_Death_each_class;

 * sqlite:///jupyter_sql_tutorial.db
Done.
1 rows affected.
Done.

[(136, 87, 119, 80, 97, 372)]

In [174]:
%%sql

-- RequÃªte 6 
-- Visualiser la rÃ©partition des passagers survivants et des passagers dÃ©cÃ©dÃ©s selon le sexe

-- Survivant sexe Homme

create view man_alive as select count(Survived) 
from Titanic_Passenger natural join Ticket_Passenger
where Survived =1 and Sex ="male";
select * from man_alive;

 * sqlite:///jupyter_sql_tutorial.db
Done.
Done.

[(109,)]

In [175]:
%%sql

-- DÃ©cÃ©dÃ©s sexe Homme

create view man_death as select count(Survived) 
from Titanic_Passenger natural join Ticket_Passenger
where Survived =0 and Sex ='male';
select * from man_death;

 * sqlite:///jupyter_sql_tutorial.db
Done.
Done.

[(468,)]

In [179]:
%%sql

-- Survivant sexe Femme

create view women_alive as select count(Survived) 
from Titanic
where Survived =1 and Sex ='female';
select * from women_alive;

 * sqlite:///jupyter_sql_tutorial.db
Done.
Done.

[(233,)]

In [180]:
%%sql

-- DÃ©cÃ©dÃ©s sexe Femme

create view women_death as select count(Survived) 
from Titanic_Passenger natural join Ticket_Passenger
where Survived =0 and Sex ='female';
select * from women_death;

 * sqlite:///jupyter_sql_tutorial.db
Done.
Done.

[(81,)]

In [93]:
%%sql

-- Visuel final de la requÃªte 6  
-- Visualiser la rÃ©partition des passagers survivants et des passagers dÃ©cÃ©dÃ©s selon le sexe

-- RÃ©ponse Ã  la question 6 : 109 hommes vivants
--                         : 233 femmes vivantes
--                         : 468 hommes morts
--                         : 81  femmes mortes
    
-- Bonus pourcentage des Survivants par sexe 
-- Pourcentage de survivant des hommes : 31%
-- Pourcentage de survivant des femmes : 68%
-- Bonus pourcentage des DÃ©cÃ©dÃ©s par Sexe
-- Pourcentage de dÃ©cÃ¨s des hommes : 85%
-- Pourcentage de dÃ©cÃ¨s des femmes : 14%
    
-- On remarque que le pourcentage de dÃ©cÃ¨s est trÃ¨s significatif du cÃ´tÃ© des hommes


Create table Alive_Death_by_sex(
man_alive int,
women_alive int,
man_death int,
women_death int,
per_cent_man_alive int,
per_cent_women_alive int,
per_cent_man_death int,
per_cent_women_death int

);

Insert into Alive_Death_by_sex values(109,233,468,81,((109*100)/342),((233*100)/342),((468*100)/549),((81*100)/549));
select * from Alive_Death_by_sex ;

 * sqlite:///jupyter_sql_tutorial.db
Done.
1 rows affected.
Done.

[(109, 233, 468, 81, 31, 68, 85, 14)]